[2015-05-06 20:02] julianpoy opened #1 "Needs a readme.md"
I'd love to know what this project is but without a readme.md I can't read about your fantabulous project details!

[2015-05-06 23:00] torch2424 commented on #1
@julianpoy your mom needs a readme.MD ;)

[2015-05-06 23:01] torch2424 commented on #1
@julianpoy kidding! But yeah it does to be honest, I'm not entirely sure what this project is going to be. And I'm doing it in windows, so I have no clue how to use the GUI github haha! So I'll try when I figure things out. Like it literally took me a half hour to get this repo right. All these kids and their fancy Gui's these days haha!

[2015-05-15 01:02] torch2424 opened #2 "Enemies can ovverun the game and push you through the walls"
One suggestion is to make enemies not move if you are touching a wall, that way, if you are surrounded they will still attack

[2015-05-15 01:03] torch2424 opened #3 "Attacking forward also hurts enemies behind you"
Try finiding an enemy's position relative to the way you are facing, if behind you, do no damage

[2015-05-15 01:08] torch2424 opened #4 "Need some music"
We need to jam out to our game!

[2015-05-15 01:25] torch2424 opened #5 "Make Hud Text nicer"
Maybe add some boarders and text shadows!

[2015-05-15 01:25] torch2424 opened #6 "We need a game start menu!"
MAke a game start menu where it starts the music, and you press a button to play!

[2015-05-15 01:26] torch2424 opened #7 "We need a pause menu!"
Because Sometimes, you gotta stop playing because it's time for dinner

[2015-05-15 01:27] torch2424 opened #8 "We need to be able to restart/quit the game!"
Need to bring a way to restart the game after you die, and or quit if you are done playing

[2015-05-15 07:34] Heebe commented on #3
After done, issue must be addressed where if you spam the attack button, the character stays facing that exact orientation. As you keep pressing attack and move the character around, the character slides around forward, back, side-to-side always in that orientation until attacking has ceased.

[2015-05-15 07:50] Heebe opened #9 "Major lag with enemy clusters"
If enough enemies spawn, cluster, and smash you in a corner, there is no way to get yourself out of it. As soon as you rush in and try to fight, the lag hits hard and you can instantly die.

edit: reached lvl 23 and the enemy number became so great the lag hit hugely no matter what.

[2015-05-15 18:23] Heebe commented on #2
![untitled](https://cloud.githubusercontent.com/assets/7026914/7659134/ac18a65a-faf4-11e4-878c-a07671fb5fc5.png)
Busted through a wall and got the development console to open up

[2015-05-15 19:56] torch2424 commented on #3
Ye ye ye, I actually tried to fix this, but the unity animator is a weird beast haha

[2015-05-15 19:56] torch2424 commented on #3
@Heebe

[2015-05-15 19:57] torch2424 commented on #2
HAhahahahahahahahaha This game is highlarious. Yo I had the idea of making it so that enemys will no longer move if your touching a wall, but that creates the problem of enemies just standing there instead of coming after you.

[2015-05-15 19:58] torch2424 commented on #9
DAMMMMNNNNNN YOU GOT TO LEVEL 23?!?!?!??! I can't make it past 18 haha!

[2015-05-15 19:59] torch2424 commented on #9
But yo, I'll just keep count of the number of enemies, could you guesstimate how many enemies were spawned? I can just create a static variable in the enemy class, and once so many are created, don't create any more

[2015-05-15 21:06] torch2424 opened #10 "Camera goes over walls"
We need the camera to satay within the walls, along with the player

[2015-05-15 21:08] torch2424 commented on #10
Currently working, but Need to make it stop jerking on collision

[2015-05-15 23:14] Heebe commented on #9
Try capping at 200 and I'll test until we have the right number.

[2015-05-15 23:16] Heebe opened #11 "An options button would be nice."
So that once you pause the game you can directly change things such as SFX on/off, Music on/off, button mapping, and graphics options so that you don't have to exit out for that.

[2015-05-16 02:07] torch2424 commented on #9
Yo 200 is way too much haha! I'll try 50! if anything, if you look through the code, i can make it so that the enemy attack frames lower as they become higher level, so essentially, they'll start goiing through your health like nothing, but 50 still looks like a gang of enemies @Heebe

[2015-05-16 02:08] torch2424 commented on #10
Working beuatifully :') Thanks to cd3d21384dc885ad0874b2a97decd94fa1b30496

[2015-05-16 02:08] #10 closed, assigned to nobody

[2015-05-16 02:08] torch2424 commented on #11
Yeeyeyyyeyeyeyeyeyeyeyeyeyeyeyeyeyeyeyeye!

[2015-05-16 02:09] torch2424 commented on #11
Thanks for doing this dude, honestly anything at all that even seems obvious that is missing, make an issue for it, because this not only shows me bugs, but a to-do list you know? @Heebe

[2015-05-16 02:26] torch2424 commented on #9
Capped it at 75, tested and fixed via cd3d21384dc885ad0874b2a97decd94fa1b30496

[2015-05-16 02:26] #9 closed, assigned to torch2424

[2015-05-16 02:31] Heebe commented on #11
Yeah you're welcome, I got it. All in hopes to be a co-creator of a game with you next time rather than just help work.

[2015-05-16 03:01] torch2424 commented on #9
Wrong Ssh this is the right one haha 7031f7e475f5cff9df506933136887c40eae25e9

[2015-05-16 03:02] torch2424 commented on #3
No longer can attack enemies generally around you, And I mess with the animator a couple of commits ago, and what @Heebe has stated is fixed as well. As of this commit, this issue is closed 9e169252055ea13cba9c9d273804f2700738619f

[2015-05-16 03:02] #3 closed, assigned to nobody

[2015-05-16 03:07] torch2424 commented on #2
I'll come back to this issue after thinking what I can do about it later.Hopefully with the new enemy cap, this is less likely to happen, and I feel like we should test this more now that that issue has been addressed

[2015-05-16 03:16] torch2424 commented on #5
Added some borders and text shadow, with no code actually haha! All done in inspector, and this is now working from this and on 65bbab49a40aec957c31b602f99e2b3386d3ef0e

[2015-05-16 03:16] #5 closed, assigned to nobody

[2015-05-16 03:35] torch2424 commented on #4
Added the music to our game, starts and stops accordingly!

9de48638caa1bdfdf60c5448e968d8f878a1ba27

[2015-05-16 03:35] #4 closed, assigned to nobody

[2015-05-16 03:37] torch2424 opened #12 "Add Our new Main Character Art"
He's awesome :D

[2015-05-16 03:37] torch2424 opened #13 "Add our new background"
It also awesome :D

[2015-05-17 03:09] torch2424 opened #14 "Inform player of level ups!"
It kind of just happens, needs a sound and a little text that pops up!

[2015-05-17 03:28] torch2424 commented on #12
![image](https://cloud.githubusercontent.com/assets/1448289/7668904/108fab2c-fc0a-11e4-8abc-296debdd6099.png)

Our character is in the game including death animations and everything!

Fixed via 7efd3854f498ca54837269d8c84601e6d3473d57

[2015-05-17 03:28] #12 closed, assigned to nobody

[2015-05-17 03:31] torch2424 commented on #13
@Heebe I'm going to remove this from the milestone for alpha 1.0, since It's quite a bit of work to remove all the tiles I had in the game, and resize all of my colliders to fit the maps you have presented

[2015-05-17 03:31] torch2424 commented on #13
Alos, would you rather have the forest or the mountains in the build after?

[2015-05-17 03:32] torch2424 opened #15 "Clean Up Music Performance"
Starts abruptly, and the looping isn't gapless which is a little weird, so look into that!

[2015-05-17 03:33] torch2424 commented on #13
Actually, hmmm I'll try for the alpha, but no promises, but still which would you like first?

[2015-05-17 03:51] Heebe commented on #13
Definitely the forest.

[2015-05-17 05:01] torch2424 commented on #8
![image](https://cloud.githubusercontent.com/assets/1448289/7669102/ff3d2b4a-fc15-11e4-84c5-549f4586fb7c.png)

Looking nice, and working good!

fixed via 50c5ab3b2b4886e617c6fe10ca472a0414813643

[2015-05-17 05:01] #8 closed, assigned to nobody

[2015-05-17 05:02] torch2424 commented on #13
Fashowty my dude :D @Heebe

[2015-05-17 05:25] torch2424 commented on #7
![image](https://cloud.githubusercontent.com/assets/1448289/7669203/620ff212-fc1a-11e4-9154-6adefc37feb4.png)

Almost exactly like the game over menu, except I learned some time wizardry to may this super easy to do. So now the game pauses beautifully!

Fixed via bc129ab59e7033d0e45fb5b3eca82f40e5bbf364

[2015-05-17 05:25] #7 closed, assigned to nobody

[2015-05-17 05:32] torch2424 commented on #6
@Heebe I'm planning on making the game start menu all black an nostalgic like this, I feel like it'll really match the feel of the game

![](http://static.giantbomb.com/uploads/original/1/13084/364148-dig_dug_2008_07_29_00_22_21_59.png)

![](http://www.nesgametabs.com/images/online%20game%20links/Mega_Man1title.png)

![](http://www.consoleclassix.com/info_img/Contra_NES_ScreenShot1.jpg)

[2015-05-17 05:33] torch2424 opened #16 "This Game needs an official title!"
I mean Fight! is cool and all, but a real name would be nice wouldn't it? Haha

[2015-05-17 05:34] torch2424 opened #17 "We should Make a Logo!"
I'll leave this to the art guys @Heebe and Emanual to figure out, but please refer to #6 to see what I'm talking about

[2015-05-17 17:13] Heebe commented on #6
This is a great idea, I just can't yet start this without an official title. We should all have a say in it.

[2015-05-17 18:45] torch2424 opened #18 "Restarting game pauses the game"
Small bug can be fixed with a quick commit. Simply pressing enter when the game is over makes the game paused

[2015-05-17 19:49] torch2424 commented on #18
This was a small bug, and fixed before our alpha via 584d7b2c2601ea47d9bc5ec88403dccc44c65337

[2015-05-17 19:49] #18 closed, assigned to nobody

[2015-05-17 19:50] torch2424 commented on #16
@Heebe Yeah cool yo. Hey, I think we should all agree upon a name for the game before I do the title screen and everybody shoul have a say in it. Emanuel likes the names Fight to the Death, or, Path to Victory. I like Might Within, or just, Might. What do you think would be a good name?

[2015-05-17 19:50] torch2424 commented on #16
Lets call it Beat EM UP!!! Punch Legacy, Fist Legacy
I like Punch legacy the most
Maybe fist story, or fight story
I did some googling, nintendo suggests that you name the game what it is. such as the legend of zelda, or super mario

[2015-05-17 19:53] torch2424 commented on #13
![image](https://cloud.githubusercontent.com/assets/1448289/7671854/8987f654-fc93-11e4-90e5-b44b5d62b38a.png)

Added our map. SInce it was smaller than the last one, I had to readjust all of the speed, character bounds, and camera bound values .

Later we can implement multiple maps and things in a new issue

[2015-05-17 19:53] #13 closed, assigned to nobody

[2015-05-17 19:54] torch2424 commented on #6
@Heebe I'm going to start this later without the title graphic as It'd be VERY easy to just throw into our start menu, that way I can get started and finish our alpha

[2015-05-17 20:14] Heebe commented on #6
Ok yeah that's cool, it'll be done by tomorrow night

[2015-05-18 05:37] Heebe commented on #16
It's unanimous, Punch Legacy.

[2015-05-18 23:54] torch2424 commented on #16
@Heebe rad! I'll wpork on this in a bit. Work has been killing me :/

[2015-05-19 03:46] torch2424 opened #19 "Add Some Sound Effects"
We need some punches and Level up sounds and hurt sounds!

[2015-05-19 03:48] torch2424 commented on #6
![image](https://cloud.githubusercontent.com/assets/1448289/7695088/22fcb23c-fd9f-11e4-97b9-9088007efd7a.png)

Fully working, we need to plug in our logo and things later, but for now we have the funnctionality dso the issues is closed  via 6bf7250bec23bd23c8ecfcbe0887527ad0f57219

[2015-05-19 03:48] #6 closed, assigned to torch2424

[2015-05-19 03:52] torch2424 opened #20 "Get started on Juice our game, and add some feel"
https://www.youtube.com/watch?v=AJdEqssNZ-U

https://www.youtube.com/watch?v=216_5nu4aVQ

Perfect example and explanation what this means and why we need this

[2015-05-19 03:59] torch2424 opened #21 "Zoom out the camera a bit!"
The new game scale is too small and enemies fly on screen way to fast, need to zoom out our camera a bit haha!

[2015-05-19 04:01] Heebe commented on #21
Could this be because of the map itself being so small? It's only set up in
a 400 x 400 scale.

[2015-05-19 05:20] torch2424 opened #22 "Show Enemy Damage"
Flash characters and enemies red when hurt!

[2015-05-19 05:56] #16 closed, assigned to nobody

[2015-05-19 06:03] torch2424 commented on #19
Sounding good via commit d3fd00515e0db494a061d10df6e8fd3431564b67

[2015-05-19 06:03] #19 closed, assigned to torch2424

[2015-05-19 06:05] torch2424 commented on #14
Sound effects is done! Now we need a visual!

[2015-05-19 06:26] torch2424 commented on #22
![image](https://cloud.githubusercontent.com/assets/1448289/7696767/4473b8fa-fdb5-11e4-9639-6451193d8223.png)

Also implemented for the player! Looks and works good! (: via commit c0bcba8cfd3373ae864d3a364218d609cfbc68d2

[2015-05-19 06:26] #22 closed, assigned to nobody

[2015-05-19 06:37] torch2424 opened #23 "After you press a key towards a direction, stay that direction"
Playtesting advice, which I feel like is very correct

[2015-05-19 06:38] torch2424 commented on #21
Naw It's my camera dude dont worry, it's just a number i change haha! and I fixed in this commit c0bcba8cfd3373ae864d3a364218d609cfbc68d2

[2015-05-19 06:38] #21 closed, assigned to nobody

[2015-05-19 06:39] torch2424 commented on #21
@Heebe

[2015-05-21 03:36] torch2424 commented on #15
I made the song longer so that we can avoid this, and now it's extremely difficult to even have the song loop, since you'd have to survive quite a long time, which is even hard to test. I'm closing this for now, but may be re-opened in the future

[2015-05-21 03:36] #15 closed, assigned to nobody

[2015-05-21 03:37] torch2424 opened #24 "Standing in one place makes enemies spawn from the same spot"
If you stand in one place, enemies will always spawn from the same area

[2015-05-21 03:37] torch2424 opened #25 "Sounds play other than the hit sound after you have died"
Need to stop enemy attack sounds from playing after we die

[2015-05-21 03:40] Heebe commented on #25
Could fix by muting all other sounds and playing only a "death theme".

[2015-05-21 03:42] torch2424 opened #26 "Bounded camera acts weird and the collisions aren't detecting correctly"
The camera bounds is working, but if the collision isn't detected for the camera, it bugs out

[2015-05-21 03:43] torch2424 commented on #25
Naw thats not how the code is set up haha! @Heebe

[2015-05-21 03:43] torch2424 commented on #25
But I fixed it, now only the death sound will play after game over via 62f4be3f000fb10ab692171424f0ec00f8c11c8b

[2015-05-21 03:43] #25 closed, assigned to torch2424

[2015-05-21 03:44] torch2424 commented on #25
But I fixed it, now only the death sound will play after game over via 62f4be3f000fb10ab692171424f0ec00f8c11c8b

[2015-05-21 03:44] torch2424 commented on #1
Creating this now...

[2015-05-21 04:20] torch2424 commented on #1
Finished just for @julianpoy via commit 0e1c22262828e2508b642e8b944ccb8a1ad98530

[2015-05-21 04:20] #1 closed, assigned to nobody

[2015-05-21 04:23] torch2424 commented on #2
@Heebe I need to you test this with the new alpha build, enemies kill me before I can even see this happening. Can you duplicate this on the newest builds? This is the last "major" thing holding us back from moving forward with a new alpha

[2015-05-21 04:53] Heebe commented on #2
![untitled](https://cloud.githubusercontent.com/assets/7026914/7741852/75413ad0-ff3a-11e4-99b5-cd9d9cb6a9ea.png)
I would like to, but the camera doesn't pan with me to the edge if the screen to even test this. I'm at a 1920 x 1200 resolution if that helps. Anyway, if you can't tell from the screenshot, I'm over to the right side of the screen. Happens on the left side as well.

[2015-05-21 19:51] torch2424 commented on #2
@Heebe I'll fix that right now, I just make the colliders too close haha!

[2015-05-21 20:28] torch2424 opened #27 "Adjust camera bounds according to screen size"
Depending on resolution, our camera box collider scale needs to be dynamically changed

[2015-05-21 20:36] torch2424 commented on #2
Oh it's actually something I'll have to code it, Here's a build you can see the edge no matter what, and I addressed the issue in #27

Build: https://www.dropbox.com/s/dn2b6sm5wz6xy1n/Alpha%201.1.zip?dl=0

[2015-05-21 20:39] torch2424 opened #28 "Start Screen should Display actual game info"
Right now the numbers are random, but we should log our player progress and things!

[2015-05-21 22:24] Heebe commented on #2
![untitled](https://cloud.githubusercontent.com/assets/7026914/7760145/3b6f241e-ffcd-11e4-843d-3724b846428f.png)
It's extremely hard to replicate the bug now that enemies can't be hit from behind. This is the highest level I can even reach, so I'd say you already fixed this problem.

[2015-05-22 21:20] torch2424 commented on #2
Alright cool! If anything this issue can be reopened and done again later!

[2015-05-22 21:20] #2 closed, assigned to nobody

[2015-05-22 22:34] torch2424 commented on #14
I was going to do a text that pops up above player, but it was being difficult with the camera, and it was a bit TOO distracting. so instead you flash green repeatedly for a short while.

finished via f01388da5f3e68a3b71e6e27f07fed04656d139a

![image](https://cloud.githubusercontent.com/assets/1448289/7780756/f681c656-0097-11e5-84c2-fe8dc9611c0c.png)

[2015-05-22 22:34] #14 closed, assigned to nobody

[2015-05-23 01:54] torch2424 commented on #23
Fixed via 8edfc6157a238a0bfd5ee7de5bd22f00026eb748

[2015-05-23 01:54] #23 closed, assigned to torch2424

[2015-05-24 16:58] torch2424 opened #29 "Player Attacking window is too large"
Make it work by frames, and not seconds, and lower the x and y range of their attacking window

http://answers.unity3d.com/questions/309320/yield-return-to-wait-for-some-frame-problem.html

[2015-05-25 00:50] torch2424 commented on #24
Enemies no longer spawn from the same area, and standing still cannot lead to game success via commit 00bdc682f33a3e7cf9bb8cf5b584d2ec18225518

[2015-05-25 00:50] #24 closed, assigned to torch2424

[2015-05-26 00:02] torch2424 commented on #29
Attack lasts only one frame, instead of multiple, and the x and y have been minimized, but may need to be expanded in the future via commit a70c3716c6b51eda21d5502f054c893db611f7e9

[2015-05-26 00:02] #29 closed, assigned to nobody

[2015-05-26 00:03] torch2424 opened #30 "Game is too difficult now"
The game feels better, but now its wayy too difficult and the enemies are wayy too strong, add some more health to our player, and maybe lower enemy hp but increase enemy spawn rate!

[2015-05-26 00:04] torch2424 commented on #26
Closing this as it is being addressed in issue #27

[2015-05-26 00:04] #26 closed, assigned to torch2424

[2015-05-26 00:04] torch2424 commented on #27
Starting this now!

[2015-05-26 00:47] torch2424 commented on #27
Simply need to adjust camera size and Ui canvas according to aspect ratio! wouldnt be too hard!

http://gamedev.stackexchange.com/questions/79546/how-do-you-handle-aspect-ratio-differences-with-unity-2d/89973#89973

http://forum.unity3d.com/threads/get-aspect-ratio.211255/

http://docs.unity3d.com/ScriptReference/Camera-aspect.html

http://docs.unity3d.com/ScriptReference/UI.CanvasScaler.html

[2015-05-27 21:13] torch2424 commented on #27
Fixed via commit a3e3e7794bb227457fad7ad392cbb85cf3cd566d

The vertical scaling may be a bit wonky (which could be fixed in a later issue), but you can no longer walk out of the camera!

[2015-05-27 21:13] #27 closed, assigned to torch2424

[2015-05-27 21:14] torch2424 opened #31 "Vertical bounds a bit weird"
Depending on aspect ratio, vertival scaling can be too high or low, simply need to just add some adjustments in our game aspect script

[2015-05-27 21:15] torch2424 commented on #27
Addressed in issue #31

[2015-05-31 19:11] torch2424 commented on #17
![image](https://cloud.githubusercontent.com/assets/1448289/7903345/17c7e99c-078e-11e5-9048-dcc5329dd45b.png)

Finished via commit cfffc004f3ca1a0e4b1d1a1f7f3648f0e426224b

great work Heebe!

[2015-05-31 19:11] #17 closed, assigned to nobody

[2015-05-31 20:05] torch2424 commented on #28
![image](https://cloud.githubusercontent.com/assets/1448289/7903569/75eee73a-0795-11e5-8917-0fb66da9190a.png)

Created a save file system, so that we can grab player info, and display it whever we'd like (Like the start screen), finished via commit f941bfd760f6b3bcc1b2062bfc7f7965a6e4811c

[2015-05-31 20:05] #28 closed, assigned to torch2424

[2015-05-31 20:08] torch2424 opened #32 "Need to add a score/enemies defeated"
It would be cool to add a score/enemies defeated count to our game, so we can display it on the start sceen, and use it to reward players once they reach a certain point in the game.

I'm in favor of a score, that way it's a bit more ambigous on how to increase it, and it drives more people crazy on how to get a better one, and can grow faster.

This idea was originally proposed by @Heebe saying w

[2015-06-07 23:10] Heebe opened #33 "New Bug"
![untitled](https://cloud.githubusercontent.com/assets/7026914/8026542/597dbaf0-0d2f-11e5-8818-b9aa7f145bdb.png)
Seems like if you stand in the corner and spam the space bar you can easily take out enemies and level up, making the game very easy. Along with this, once enough enemies spawn, they cluster and wont even try and run at you.

_found by Emanuel, retested by me_

[2015-06-08 00:40] torch2424 commented on #33
Oh yeah I fixed that yo

[2015-06-08 00:41] torch2424 commented on #33
@Heebe See issue #24 , I'm closing this

[2015-06-08 00:41] #33 closed, assigned to nobody

[2015-06-08 00:41] torch2424 commented on #24
#33 is a duplicate issue

[2015-06-08 00:42] torch2424 commented on #30
Going to adjust game difficulty now

[2015-06-08 00:44] torch2424 commented on #30
Going to make enemies do less damage, and make attacking window a little bit larger

[2015-06-08 01:14] torch2424 opened #34 "When surronded by enemies game acts a bit glitchy"
Try making all enemies stop moving if 4 enemies are colliding with you

[2015-06-08 01:15] torch2424 commented on #30
Moved around some values, now game runs a bit berrer difficulty wise, fixed via commit 26d06ce5512755809dad74233b5ec1aebf833ec8

[2015-06-08 01:15] #30 closed, assigned to torch2424

[2015-06-08 01:16] torch2424 commented on #20
Making move speed half when attacking

via commit 449bb9486073e218dadf6aa00d7633554b30d71d

This provides incentive to the player to not just mash space

[2015-06-08 04:23] torch2424 commented on #20
Implementing screen shake
LOOKS AWESOME MAKES THE GAME FEEL SO MUCH MORE INSTENSE!!!!
5a721a21414f40ae151723e2a20b9be933bd93b2

[2015-06-08 04:28] torch2424 commented on #20
Need to lerp our camera

added via 0815618ad88dc12f0873f4d0a56fadfbfd242e16

Fixed it's awkwards nees by stoping lerp while colliding our bounds

70803f6953e5de1bb616f0013a3126ba3f14d74d

[2015-06-08 05:46] torch2424 opened #35 "Screen shake is still active even after game over"
Simply add our gamamnager to our camera, and check for the game status

[2015-06-08 06:06] torch2424 opened #36 "Fix Screenshake from shaking when colliding"
We need to just make sure that we done shake in the direction we are colliding with

[2015-06-08 06:32] torch2424 commented on #36
fixed via 8adfcf8d860dd438654b19ef55edbceaa3fee98d

Ended up making camera shake back towards player after a certain point

[2015-06-08 06:32] #36 closed, assigned to nobody

[2015-06-08 06:33] torch2424 commented on #36
Also, relized this small thing last minute 347375fd5fed22a3a9900de7373411c3a8136c5e

[2015-06-08 06:43] torch2424 opened #37 "Ease our movement speed in and out"
When we attack we slow down, but ease that in and out, probably using something \* time.delta

[2015-06-08 06:55] torch2424 opened #38 "Playtesting noticed a bit of delay in turning"
Sometimes there is lag in input delay!

Investigate, it may only be because of debug playing mode

[2015-06-08 06:56] torch2424 opened #39 "Enemy knock back should be more apparent"
Make enemy knockback more aparent, probaly, by messing with enemy mass and kickforce values

[2015-06-08 06:57] torch2424 opened #40 "When enemies die they should have an animation (Permenance)"
Some should explode randomly, cause we're that buff

And also add some permanance, so that when your game is over, you can sea the sea of dead enemy sprites

[2015-06-08 07:02] torch2424 commented on #20
Moving the player slightly forward when they are attacking

implemented via e2296cdce46a3f064bb8463e9196a3703516d0ee

[2015-06-08 07:11] torch2424 commented on #20
Pause the game for some little seconds to make moments look more intense

Actually adds alot more feel than you would think!

6a88ed35e96b43c786e407d3008a186891a41abf

[2015-06-08 07:29] torch2424 opened #41 "Add some camera kick (Feel)"
Like screenshake, but move camera opposite of player when were attacking, and when we collide with an attack, shake the screen

[2015-06-08 07:36] torch2424 opened #42 "We should all watch some good game talks"
Vlambeer guy -
https://www.youtube.com/watch?v=kgYpJpbpnZI

Vlambeer guy (Screenshake)
https://www.youtube.com/watch?v=AJdEqssNZ-U

Secrets of game fuel and juice
https://www.youtube.com/watch?v=216_5nu4aVQ

[2015-06-08 07:38] torch2424 commented on #42
@Heebe

[2015-06-08 07:47] torch2424 commented on #20
Good feel is now in the game, and I'm going to close this issue as I have created unique ones for other feels

[2015-06-08 07:47] #20 closed, assigned to nobody

[2015-06-08 21:39] torch2424 opened #43 "Explosions!"
Because why not?

And have explosions have an AOE

[2015-06-08 21:40] torch2424 opened #44 "Have rounds of spawning With Bosses in between"
Instead of constant spawnin, how about after every 30 enemies spawn, stop for about a minute, to give the player a breather

Suggested by my buddy Julian @julianpoy Because his little bitty lady fingers hurt

[2015-06-08 21:44] torch2424 opened #45 "Add some Area of effects attacks"
So that enemies surrounding you doesnt make you feel weak

[2015-06-08 21:45] torch2424 opened #46 "Make player bigger"
So that you look and feel more powerful

AND PERHAPS MAKE PLAYER BIGGER AS THEY LEVEL UP :DDDDDDD

[2015-06-08 21:46] torch2424 opened #47 "Add obstacles to our map"
So that players can use strategy to trap enemies and play around them

[2015-06-08 21:46] torch2424 commented on #47
@heebe I need you and emanual to do art for this

[2015-06-08 21:52] Heebe commented on #44
a minute is quite long

[2015-06-08 21:53] Heebe commented on #47
Suggestions?

[2015-06-08 22:04] torch2424 commented on #44
Forsure @Heebe I'll just mess around with the values, maybe like 30 seconds? I'll figure it out!

[2015-06-09 20:31] Heebe commented on #9
cap at 70, lag is still there trying to render all enemies on the screen.

[2015-06-09 21:19] Heebe opened #48 "Story"
There should be a segment of text or screen that appears after you press start, to introduce a "story" that helps the player understand why it's a "Punch Legacy". This may work great considering we have messages that follow something of feeling after the player dies. I have written up a few short messages that should be reviewed by @torch2424 so we can choose the best one.

edit: I'll email them o

[2015-06-09 21:55] Heebe commented on #41
Move it forward instead of back? Might give the illusion that you hit hard as hell.

[2015-06-09 21:59] Heebe opened #49 "Add "Sleep""
As stated in https://www.youtube.com/watch?v=AJdEqssNZ-U When an enemy is hit, and when they die, the game pauses for 20 milliseconds. This makes the game feel better, but is not very noticeable to the human eye.

[2015-06-09 22:01] Heebe opened #50 "Add Camera "Lerp""
Again as stated in https://www.youtube.com/watch?v=AJdEqssNZ-U Lag the camera behind the character so it feels as if you are controlling it all, other than just the character. It will make the game feel much better and show the player how much faster and more powerful you have gotten.

[2015-06-09 22:15] Heebe opened #51 "We need a title screen song"
Make it EPIC!

[2015-06-09 22:16] Heebe opened #52 "Start Sound"
Add a little sound effect that plays when you press start on the title screen.

[2015-06-09 22:31] Heebe commented on #42
Watched all three.

[2015-06-10 00:00] Heebe commented on #42
One by Vlambeer that talks more about how he and his friend got to the point in their lives, it works great after watching the ones you posted because it elaborates with them pretty well.
https://www.youtube.com/watch?v=JER2Wlu64AY

[2015-06-13 18:41] torch2424 commented on #51
Coo

[2015-06-13 18:42] torch2424 commented on #52
Sounds Good, I definitely agree!

[2015-06-13 18:43] torch2424 commented on #50
Already did in alpha 3.0, closing this see issue #20

[2015-06-13 18:43] #50 closed, assigned to nobody

[2015-06-13 18:43] torch2424 commented on #49
Already did in alpha 3.0, closing this see issue #20

[2015-06-13 18:43] #49 closed, assigned to nobody

[2015-06-13 18:44] Heebe commented on #50
It's not very apparent at all then

[2015-06-13 18:45] torch2424 commented on #48
Got the email and will try to add in next alpha

[2015-06-13 18:46] torch2424 commented on #39
Working on this now

[2015-06-13 19:07] torch2424 commented on #39
Not going to add impact pause to enemies, cause it could potentially pause the game by enemies colliding

[2015-06-13 19:59] torch2424 commented on #50
Resolved through text message with @Heebe

[2015-06-13 20:16] torch2424 commented on #39
Finished and looking awesome via e258d458c7af0ea3d57e813ae0e493854cd93c04

[2015-06-13 20:16] #39 closed, assigned to nobody

[2015-06-14 06:13] torch2424 opened #53 "We Need an intro Cutscene for our story"
It'd fit with our intro song

[2015-06-14 06:13] torch2424 commented on #53
Finished via bfa8d85df578c8a6d9547f47079e5c07db5fe419

Yes I programmed it that fast hahaha jk

[2015-06-14 06:13] #53 closed, assigned to torch2424

[2015-06-14 06:13] torch2424 commented on #52
Finished via bfa8d85df578c8a6d9547f47079e5c07db5fe419

[2015-06-14 06:13] #52 closed, assigned to torch2424

[2015-06-14 06:13] torch2424 commented on #51
Finished via bfa8d85df578c8a6d9547f47079e5c07db5fe419

[2015-06-14 06:13] #51 closed, assigned to torch2424

[2015-06-14 06:14] torch2424 commented on #53
Oops this was kinda (but not really) a copy of #48

[2015-06-14 06:15] torch2424 commented on #48
![image](https://cloud.githubusercontent.com/assets/1448289/8147491/1bc72dca-1222-11e5-8061-338f39f65db5.png)

Finished via bfa8d85df578c8a6d9547f47079e5c07db5fe419

[2015-06-14 06:15] #48 closed, assigned to torch2424

[2015-06-14 06:35] torch2424 commented on #46
Finished and very intuitive thanks to @julianpoy playtesting via 6a841c1ac2b8555e7c6f7c2d40b2b684e8879d66

[2015-06-14 06:35] #46 closed, assigned to nobody

[2015-06-14 06:38] torch2424 commented on #43
We need an explosion Animation @Heebe , might I suggest just one frame as a red circle, and the next the same circle black

[2015-06-14 06:44] torch2424 opened #54 "Clean Up Some Code"
Some of the code is a little spaghetti, comments are nice though, Just need to make it a bit more readable and understnadable. This is on the backburner before any actual release

[2015-06-14 06:45] torch2424 commented on #35
Fixed via 490688ef4d21ad70bf6bb4a79cfaf3cb8aeeb8b3

[2015-06-14 06:45] #35 closed, assigned to nobody

[2015-06-15 20:52] Heebe commented on #42
Why is this set as a milestone?

[2015-06-17 18:11] torch2424 opened #55 "Add more enemies to the game"
Add some of Emanual's enemies to the game!

[2015-06-18 10:06] torch2424 opened #56 "Permenenace + Knockback = Enemies flying off Screen"
Removing the box collider stops them from leaving the area, maybe turn it into an is trigger, so that if the trigger is called, stop all movement!

[2015-06-18 10:07] torch2424 commented on #55
Added Phatmaster

[2015-06-18 10:07] torch2424 commented on #44
With bosses in between

[2015-06-18 10:13] torch2424 commented on #40
Enemies now die and lay on floor, and permenance was added

![image](https://cloud.githubusercontent.com/assets/1448289/8228952/b3c66986-1567-11e5-966e-af46fe75862f.png)

Finished via commit cf6e69f9fdab0ee8a73c3e24ead0fbdc8571f907

[2015-06-18 10:13] #40 closed, assigned to torch2424

[2015-06-18 10:15] torch2424 commented on #43
Going to use emanuals animation instead

[2015-06-19 03:16] torch2424 commented on #44
Going to Save this for another alpha, since this will work with bosses

[2015-06-19 03:19] torch2424 commented on #32
doing this now!

[2015-06-19 04:22] torch2424 commented on #32
Finished and working great via f6d8970271fbfebefb70dd1f70b33a4ae114ed74

![image](https://cloud.githubusercontent.com/assets/1448289/8247097/50afbf1c-15ff-11e5-9156-4e6f811cf3a0.png)

![image](https://cloud.githubusercontent.com/assets/1448289/8247105/72bb13f4-15ff-11e5-8c8e-5ea3a36f44e3.png)

[2015-06-19 04:22] #32 closed, assigned to nobody

[2015-06-19 04:30] torch2424 commented on #34
Fixed and looks nice via 153172a3087350d66918934570c9d24a3bfc7ab9

[2015-06-19 04:30] #34 closed, assigned to torch2424

[2015-06-19 04:31] torch2424 commented on #42
Everyine watched some good game talks heres the last one I mentioned on game marketing!

https://www.youtube.com/watch?v=SkEQtMP2CuA

[2015-06-19 04:31] #42 closed, assigned to nobody

[2015-06-19 06:31] torch2424 opened #57 "Need to add an explosions sound"
BOOOOOOOOMMMMMMMM

[2015-06-19 06:36] torch2424 commented on #43
![image](https://cloud.githubusercontent.com/assets/1448289/8248329/bd0f4b74-1612-11e5-8d69-51b9502c78a2.png)

Cause we could ;)

via c1c72e086ca34cffaf34fe901048b87d72b06fa8

[2015-06-19 06:36] #43 closed, assigned to nobody

[2015-06-19 06:37] torch2424 opened #58 "Fix Layering of Game (E.g Make Explosions appear above Other enemies)"
So that they dont go underneath corpeses

[2015-06-19 09:00] torch2424 opened #59 "Add Big D Sounds to game"
Re recorded, and sound good!

[2015-06-19 09:02] torch2424 commented on #47
Going to be randomly placed onto map

[2015-06-19 09:02] torch2424 opened #60 "Allow Multiple Playable Characters, Multiple Maps, & Character Select screen"
So you can use those unlocked characters

[2015-06-19 09:03] torch2424 commented on #60
No Level select screen

[2015-06-19 09:04] torch2424 opened #61 "Rolling / Dodging"
It would be super cool if you could roll or dodge from harm!

[2015-06-19 09:05] torch2424 opened #62 "After you beat game, unlock turbo mode"
A mode where enemies are stronger, and the entire game is faster

[2015-06-19 09:06] torch2424 opened #63 "Unlock Maps, Characters, and Cheats"
Perhaps for beating a boss or getting a certain score!

[2015-06-19 09:08] torch2424 opened #64 "Multiplayer"
Nothing is better than punching our way through a legacy with our bros

[2015-06-19 09:47] torch2424 commented on #55
Added Crab

[2015-06-19 09:48] torch2424 opened #65 "Some Enemies missing direction animations"
Not a hard fix to add in, just gotta do some arts

[2015-06-19 09:54] torch2424 opened #66 "Update the Readme.md"
Because It looks really outdated to what we have now!

[2015-06-19 10:26] torch2424 commented on #55
Added Golden Tiger

[2015-06-19 10:28] torch2424 opened #67 "Re Balance Game"
Give enemies more health possibly, make some enemies stronger than others, and find a way to make levels look more intense

[2015-06-20 00:29] torch2424 opened #68 "Create different Attributes for enemies"
Make public variables for enemies such as speed, attack, and health

[2015-06-20 00:52] torch2424 commented on #55
Added Dombie

[2015-06-20 00:53] torch2424 opened #69 "Permenance clutters the map"
Either layer the enemies better, maybe make corses fade after 10 seconds, or remove all together

[2015-06-20 00:54] torch2424 opened #70 "Create a development blog"
dev blog for no comply games, and a landing page for punchlegacy

[2015-06-20 00:57] torch2424 commented on #67
Could be done with issue #68

[2015-06-20 00:59] torch2424 commented on #68
Starting this now

[2015-06-20 01:07] torch2424 commented on #68
Finished and very intuitive via 13a819c2aaa71ae608f00d087aa61e3bc53b44e4

[2015-06-20 01:07] #68 closed, assigned to torch2424

[2015-06-20 01:09] torch2424 opened #71 "Add more Of Emanual's Characters"
Add another 4

[2015-06-20 01:10] torch2424 commented on #55
Going to try and add 4 per milestone, closing this one for adding 4

[2015-06-20 01:10] #55 closed, assigned to nobody

[2015-06-20 01:18] torch2424 commented on #67
Indirectly fixed with #68 :dancer:

[2015-06-20 01:18] #67 closed, assigned to torch2424

[2015-06-20 01:37] torch2424 commented on #56
Fixed via ef82437815224aac53fdd293da754df1f8e32cd8

[2015-06-20 01:37] #56 closed, assigned to nobody

[2015-06-20 01:56] torch2424 commented on #65
Fixed via ae1132c777071c340893200aa7903aebafcafa4c

[2015-06-20 01:56] #65 closed, assigned to torch2424

[2015-06-20 01:56] torch2424 commented on #47
Starting this now

[2015-06-20 03:04] torch2424 commented on #47
Almost finished gotta bug fix!

[2015-06-20 03:21] torch2424 commented on #47
Finished, and working great! Need to add more object images, and scale/Stop them from moving

via 914348ea9bde06e623f8d060a8aa035b10b71b7c

[2015-06-20 03:21] #47 closed, assigned to nobody

[2015-06-20 03:22] torch2424 opened #72 "Add More objects that can spawn"
Simple to do, just copypasta prefab

[2015-06-20 03:22] torch2424 opened #73 "Stop objects from moving"
Objects can knockback, stop that!

[2015-06-20 03:23] torch2424 opened #74 "Objects are oddly sized"
FIne tunre their box colliders, and their scale

[2015-06-20 03:58] torch2424 opened #75 "Sometimes We get infinite loop while finiding a position, need to fix"
Made only one object spawn every game to be safe

[2015-06-20 21:30] Heebe opened #76 "Aspect Ration is off with resolution"
For this screen, (1920x1080)
![aspectratio](https://cloud.githubusercontent.com/assets/7026914/8269329/d8c30210-1758-11e5-8903-82fe3f465edc.png)

[2015-06-20 21:32] Heebe opened #77 "Objects Kill"
When enemies collide with an object, for this instance the boulder, they have a chance for dieing. I had  a group chasing me and right when one walked into the object he exploded and killed the rest of the group.

[2015-06-21 17:06] torch2424 commented on #76
I don't see the problem, you want it to be bigger or what?

[2015-06-21 17:08] torch2424 commented on #77
Hahaha that's dope. I think it's cause I coded that if they are in knockback and they hit a wall (such as an object) they lose one health. Were they in knockback? I might have to forgot to add a simple && to a conditional

[2015-06-21 22:01] Heebe commented on #76
*Ratio, and I think they should be centered and not so far apart, like this.
![aspectratio](https://cloud.githubusercontent.com/assets/7026914/8273523/66c2183a-1826-11e5-887e-365e9c0b0a82.png)

[2015-06-21 22:02] Heebe commented on #76
Otherwise the huge gap between the lettering on one side of the screen and the character on the other looks awful.

[2015-06-21 22:58] torch2424 commented on #76
Fashow, I can work on that

[2015-06-22 19:20] Heebe commented on #77
They weren't in knockback. The enemy was just following me and blew up when
he touched the object.

[2015-06-22 19:21] torch2424 commented on #77
Forsure I can fix that with some simple bools

[2015-06-26 21:52] torch2424 commented on #77
Fixed with only 13 characters in 0b7b3d2b80eff5093b9cbc4ac68065b03b3e02c7

[2015-06-26 21:52] #77 closed, assigned to torch2424

[2015-06-26 21:57] torch2424 commented on #76
Fixed via the inspector in 72ae379108e4fe7193d79377faf76d8965aeb65d

[2015-06-26 21:57] #76 closed, assigned to torch2424

[2015-06-26 22:56] torch2424 commented on #75
Fixed and looking ALOT better via 2e18e8b26eb6527f9059d3039e35a485b5c1c309

![image](https://cloud.githubusercontent.com/assets/1448289/8388807/f5d2b02c-1c1b-11e5-9ffc-2b8a0025dd48.png)

[2015-06-26 22:57] #75 closed, assigned to torch2424

[2015-06-26 23:01] torch2424 commented on #74
![image](https://cloud.githubusercontent.com/assets/1448289/8388844/a163ca8e-1c1c-11e5-98a9-02e0567dbde1.png)

Looks alot better and plays alot better via 1d2418a1227032998fdbe1ee0bfb2025214195c1

[2015-06-26 23:01] #74 closed, assigned to torch2424

[2015-06-26 23:06] torch2424 commented on #73
Fixed very easily via a85cc1347356bc170f6171fa2e981d2536b81949

[2015-06-26 23:06] #73 closed, assigned to torch2424

[2015-06-26 23:21] torch2424 commented on #58
Gong to Fix Layering in General

[2015-06-26 23:21] torch2424 commented on #58
![image](https://cloud.githubusercontent.com/assets/1448289/8389051/5b6e3d72-1c1f-11e5-9487-5c4851e50450.png)

Game looks much better, and fixes alot of issues! via 5a0b9e9e9756ee877244ae4053f3222bdcbcfd5f

[2015-06-26 23:21] #58 closed, assigned to torch2424

[2015-06-26 23:22] torch2424 commented on #69
By fixing the layers in issue #58 , game looks much better, and permenance isn't much of a visual problem anymore via 5a0b9e9e9756ee877244ae4053f3222bdcbcfd5f

If anything, this issue can e re-opened if it become a problem again

[2015-06-26 23:22] #69 closed, assigned to torch2424

[2015-06-26 23:52] torch2424 commented on #57
Working on this now

[2015-06-27 00:05] Heebe commented on #57
Bang Bang
On Jun 26, 2015 4:52 PM, "Aaron Turner" notifications@github.com wrote:

[2015-06-27 00:06] torch2424 commented on #57
AYYYYEEEEE @Heebe

added via 91e1a0af5b167e85d19eb88dce83a3981279f455

[2015-06-27 00:06] #57 closed, assigned to torch2424

[2015-06-27 00:14] torch2424 commented on #59
Sounding amazing, shout out to big d!

0b41ef954a45dfeb04e0def3db01af2881622e64

![image](https://cloud.githubusercontent.com/assets/1448289/8389535/d3925bc4-1c26-11e5-8b85-211c864e2cfb.png)

[2015-06-27 00:14] #59 closed, assigned to torch2424

[2015-06-27 00:28] torch2424 commented on #72
Finished all of the objects for the forest level 1bec451a38b848ca0ac501b553db213e87c5e89b

[2015-06-27 00:28] #72 closed, assigned to torch2424

[2015-06-27 00:30] torch2424 commented on #31
Now going to finish this once and for all, by dynamically changing our camera's box collider

[2015-06-27 00:39] Heebe commented on #59
We're officially super now?

[2015-06-27 01:01] torch2424 commented on #31
Had to remove Player increasing size on level up to accomodate this, since the camera is a child of the layer :'(

[2015-06-27 01:15] torch2424 commented on #31
![image](https://cloud.githubusercontent.com/assets/1448289/8389846/4a8cc75c-1c2f-11e5-90ad-3d5ed0c2b0d4.png)

Resoultion support is awesome :dancer:

via e49b4b9d4a0577031b43d6d39397a7c070f646b9

[2015-06-27 01:15] #31 closed, assigned to torch2424

[2015-06-27 01:16] torch2424 commented on #66
Doing this now

[2015-06-27 01:18] torch2424 commented on #59
ye :dancers:

[2015-06-27 01:21] Heebe commented on #59
Alright, want me to make the art for the "Super" now then?

[2015-06-27 01:50] torch2424 commented on #66
Finished with even gameplay gifs!!!

via 7ad44c5cef6261aec3de907c0b2db55a209e5bc4

[2015-06-27 01:50] #66 closed, assigned to torch2424

[2015-06-27 01:51] torch2424 commented on #59
@Heebe Yeeeeee, also check the github main page I made it dope

[2015-06-27 20:32] torch2424 opened #78 "Make Explosions Smaller?"
After Alpha 5.0 is distributed, Big D suggested smaller exlposions, let me know of this!

[2015-06-27 20:32] torch2424 commented on #38
Latest Game Testing can confirm that is not an issue

[2015-06-27 20:32] #38 closed, assigned to nobody

[2015-06-27 20:32] torch2424 commented on #37
Oops haha

[2015-06-29 01:44] torch2424 commented on #70
Going to Work On the development Blog

[2015-06-29 02:00] torch2424 opened #79 "List OF Game Talks, Look Through, and watch"
https://github.com/hzoo/awesome-gametalks

[2015-06-29 02:05] torch2424 commented on #79
https://www.youtube.com/watch?v=S-EmAitPYg8&feature=youtu.be

[2015-06-29 02:23] torch2424 commented on #79
https://twitter.com/GameDevTalks/

[2015-06-29 02:23] torch2424 commented on #79
https://www.youtube.com/watch?v=vw76jqF1nkI&list=PLFFUZ_uHAWMU44iAlkVoXKnsOefNYdsaK

[2015-06-29 02:25] torch2424 commented on #79
https://www.youtube.com/watch?v=VJ56Kia8dTU&list=PLhyKYa0YJ_5B9CbWO0UkKqIJL8mJjAaOl

[2015-06-29 02:25] torch2424 commented on #79
https://www.youtube.com/watch?v=rDjrOaoHz9s&list=PLhyKYa0YJ_5BkTruCmaBBZ8z6cP9KzPiX

[2015-06-29 02:36] torch2424 opened #80 "Controls on Game Start"
All Caps, and disappears on key press

   WASD TO MOVE
SPACE TO PUNCH!!!

[2015-06-29 04:11] torch2424 commented on #70
Finished Dev Blog, things to do:

Make us all emails

Finish setting up social sharing buttons on posts (plugin)
(We need twitter, Facebook, and tumblr info)

Ifttt all of our stuff

Fix needing the www. in the beginning of the page

[2015-06-29 04:19] torch2424 commented on #70
Fixed not needing www

[2015-06-29 04:29] torch2424 commented on #70
I need the social network stuff to ifttt and set up social sharing stuff

[2015-06-29 04:34] torch2424 opened #81 "We Need a Game Trailer"
Possibly for kickstarter? Or maybe just for hype, whatchu think?

[2015-06-29 04:35] Heebe commented on #81
Both

[2015-06-29 04:38] torch2424 commented on #81
![selfie-0](http://i.imgur.com/ZIPEXyW.gif)

Cool Sounds good, So are we officially kickstrarting this? when is a good time to kickstart?

[2015-06-29 04:39] torch2424 commented on #70
Landing Page: http://www.indiegamegirl.com/landing-page-design-and-how-to-use-it-to-sell-your-indie-game/

[2015-06-29 04:40] Heebe commented on #81
If we are it should be ASAP, unless you want to wait until next game to do
one.

[2015-06-29 05:01] torch2424 commented on #81
Should It be ASAP, Honestly, I think we should finish the websites, build a trailer, and finish the game until it's late beta before we do that. Cause I can easily add on kickstarter stuff to the end of the trailer with some editing stuff, and it'll be cool. Also, you never know what could happen during development, you don't want to do things too early and then find out you can't. Like if we prom

[2015-07-04 15:19] torch2424 commented on #70
Fixed @heebe roles, now can make categories, and fixed site time

[2015-07-04 15:37] torch2424 opened #82 "We need to figure out how we're going to do special attacks"
Emanual has been making beautiful AOE attacks, and all kinds of specials, but How do we manage this in gameplay. Do we need an mp bar? How will MP regenerate?

I am against adding an mp section in our hud, as it is already taking up alot of space, and I suggest that you just automatically use one after you attack so many times, and depending on your level, you do a different special.

You could fl

[2015-07-04 15:39] torch2424 opened #83 "Add the new attacking animations and running animations"
Emanual made some cool new animations, need to add them before the trailer

[2015-07-04 15:43] torch2424 commented on #61
Got the art from emanual, however was missing back wards animation

[2015-07-04 15:46] torch2424 commented on #82
Especially because of #61 , that's going to need it's own dedicated button as well, and that's even more screen space (On mobile) and more even complicated to play

[2015-07-04 15:54] torch2424 commented on #71
Currently Only have eyeguy, spooky, and mighty kobra, so I'm just going to add those 3

[2015-07-04 16:23] torch2424 opened #84 "Mighty Kobra - No death animation"
yup, just leaving a note

[2015-07-04 16:39] torch2424 commented on #84
Recieved from eman

[2015-07-04 16:48] torch2424 commented on #84
Fixed via 3447e53ec14aee127c0183dbdd82de4ead60e8ed

[2015-07-04 16:48] #84 closed, assigned to nobody

[2015-07-04 16:49] torch2424 commented on #71
Mighty Kobra added, and got another character from emanual

[2015-07-04 17:10] torch2424 commented on #71
Added Spooky, two more to go

[2015-07-04 17:11] torch2424 opened #85 "Multi Directional Death animation"
Some enemies (Phatmaster, mighty kobra, and dombie) have death animations for only one directional, we should make them multi directional such as golden tiger

[2015-07-04 22:14] torch2424 commented on #85
Got the art from emanual

[2015-07-04 22:15] torch2424 commented on #71
Got groovy godzilla, three more to go

[2015-07-04 22:22] torch2424 commented on #85
Made into .pngs, just need to add in

[2015-07-05 04:39] torch2424 commented on #85
Finished via 199eaf7e309d2de5356fad63fbddcf47608779c8

[2015-07-05 04:39] #85 closed, assigned to nobody

[2015-07-05 04:48] torch2424 opened #86 "Eye Guy Enemy has no death animation"
It needs a death animation, I was missing the art from emanual

[2015-07-05 04:54] torch2424 commented on #71
Added Eyeguy, two more to go

[2015-07-05 04:58] torch2424 opened #87 "Super Fighting Robot Missing a back walking animation"
Emanuel forgot the frame for it

[2015-07-05 05:08] torch2424 commented on #71
Added super fighting robot (Who is probably my favorite character so far) one last to go!

[2015-07-05 05:10] torch2424 opened #88 "We should consider Health Regenerate when not punching"
I think this is a good idea, as it'll give players a reason to run away. That way if they can skillfully dodge or run, while avoiding enemies, we should reward them for this. Also, if they are attacking they should not regenerate health. This is another reason for them not to just spam the space bar

[2015-07-05 05:12] torch2424 opened #89 "We should add hold space to punch"
That way we can avoid broken space bars. However, mashing space bar should allow you to attack faster, where as just holding it keeps you doing constant damage.

THat way players willing to break their space bars do it knowing they did it at their own will. Plus it's more funt hat way

[2015-07-05 05:17] torch2424 commented on #71
Dinosaur fighter is missing a left walk and left attack, So I will close this issue as 4 new enemies is fine, and we can save room for the next alpha

[2015-07-05 05:17] #71 closed, assigned to torch2424

[2015-07-05 05:17] torch2424 opened #90 "Dinosaur Fighter is incomplete"
It is missing a left walk, and left attack, waiting for Eman for the art

[2015-07-05 05:19] torch2424 opened #91 "Need to Add bounce to Spooky and Eye guy movement"
I simply need to add some spacing to some of their sprites

[2015-07-05 05:22] torch2424 opened #92 "We Need To Make A Game Trailer"
To showcase some game play features and things, also to enhance our landing page, and possibly for our kickstarter

[2015-07-05 05:22] torch2424 commented on #71
677db731cfe9634e635bb1efc9e193f5467c740f

[2015-07-05 05:28] torch2424 opened #93 "Add the Official Super To Punch Legacy"
Right now it's just some generated text, we should add the actual image

[2015-07-05 05:29] torch2424 commented on #92
Going to save this for the the first beta since It'd be weird to show an incomplete game, since we still need to fix up some polishing things

[2015-07-05 05:44] torch2424 commented on #70
Fixed up the tumblr page nocomplygames.tumblr.com

[2015-07-05 05:56] torch2424 commented on #70
Fixed needing www, and fixed the social sharing buttons

[2015-07-05 05:56] torch2424 commented on #70
THings left to do:

Make us e-mails

Set up ifttt

add a favicon

[2015-07-05 06:03] torch2424 commented on #70
Added favicon

[2015-07-05 06:07] torch2424 commented on #70
Created the e-mails

![image](https://cloud.githubusercontent.com/assets/1448289/8510538/62e216e0-22a1-11e5-8030-64c9fadcc3b8.png)

[2015-07-05 06:31] torch2424 commented on #70
Finished the ifftt! Now I just gotta make the landing page!

[2015-07-05 08:55] emanuelpartida commented on #86
he died :(

[2015-07-05 16:31] torch2424 commented on #70
Going to create a seperate issue for the landing page, so since the dev blog is finished, closing this

[2015-07-05 16:31] #70 closed, assigned to torch2424

[2015-07-05 16:36] torch2424 opened #94 "We Should Create a Landing Page for the game"
We need to create a landing page for the game, I suggest we use this as reference:

http://www.indiegamegirl.com/landing-page-design-and-how-to-use-it-to-sell-your-indie-game/

Please check this repo to keep up with the project:

https://github.com/torch2424/Punch-Legacy-Landing

[2015-07-07 12:19] emanuelpartida commented on #82
I think there should be mp and some enemy should drop potions

[2015-07-07 17:56] Heebe commented on #82
I agree with Emanuel, and with your concerns about taking up space, we could just change the HUD around a little, like so
![concept](https://cloud.githubusercontent.com/assets/7026914/8553227/c5e37eea-2496-11e5-98d1-e6c3d85490d3.png)

[2015-07-07 18:02] Heebe commented on #82
and if you want some extra space on top of that, we abbreviate "level" to just "lvl"

[2015-07-07 18:25] torch2424 commented on #82
I like that idea of moving the hud up there, that actually makes alot more sense thank you @Heebe

@emanuelpartida @Heebe One thing about that though that I've discussed with daniel before, but he and I agreed a while ago that it isn't one thing that would be good to do for the following reasons

A: It would make every playthrough more luck based. Because if I have enemies drop items at random the

[2015-07-07 19:34] Heebe commented on #88
I agree

[2015-07-07 20:28] Heebe commented on #82
Alright, I have an idea.

-Mobile-
Buttons:
Analog, Punch Button, Dodge Button, Start, Select.

Analog = Movement
Punch Button = Punch
Dodge Button = Dodge
Start = menu to exit game, restart, or options button.
Select = Pulls up Shop/Powers Menu

The Shop/Powers menu allows you to purchase special attacks with score, or if we decide, with real money. But don't completely lock any powers behind rea

[2015-07-07 20:38] torch2424 commented on #88
@Heebe  <3

[2015-07-08 01:14] Heebe opened #95 "About - DevBlog"
I think it would be a good addition to the DevBlog if there was post under the Category "About the Team" or a part of the site that is an actual "About Us". The format could be like it is in this image, were we all each have a photo of us, write little bio on why you're happy to work as a developer for games or why you do what you're doing, and a small list on games you have worked on. That little

[2015-07-08 07:53] torch2424 commented on #95
@Heebe Yeah I can get on that. And I saw your texts and stuff by the way. Please keep in mind I have alot of stuff to do. I work 9 hours a day Monday-Wednesday, and I still have some freelance contracts to finish up before summer ends. So I've been quite busy. I try to dedicate about 20 hours a week to the game though. So I know you weren't rushing me to do anything, but yeah just give me a to-do

[2015-07-09 06:27] emanuelpartida opened #96 "Old man for Intro"
i was thinking instead of punch guy in the intro there could be an old man???

[2015-07-10 21:00] torch2424 commented on #96
I'm down for dat :D

[2015-07-11 04:14] torch2424 commented on #94
http://superpunchlegacy.nocomplygames.com/#/

Finished and can be updated in the future!

[2015-07-11 04:14] #94 closed, assigned to torch2424

[2015-07-11 04:15] torch2424 opened #97 "Fix IFTTT Issues with Marketing Stuff"
Apparently it's out of whack, this needs to be investigated and fixed

[2015-07-11 04:18] torch2424 commented on #92
this was a duplicate of #81

[2015-07-11 04:18] #92 closed, assigned to nobody

[2015-07-13 04:02] torch2424 opened #98 "There is no link to the about page on the dev blog"
This needs to be fixed asap haha!

[2015-07-13 04:03] torch2424 opened #99 "We need a favicon for the landing page"
Right now it's the yeoman default! It needs to be replaced with the old man or our main character

[2015-07-13 04:26] torch2424 commented on #89
Fixed very easily actually via dd4e9c4cb5cafe702fcd657c8a44129f6acfad0b

[2015-07-13 04:26] #89 closed, assigned to nobody

[2015-07-13 04:26] torch2424 commented on #88
Working on this now

[2015-07-13 04:59] torch2424 commented on #88
Finished and preety cool via 11413619aac514eecd574d37d5af3c3639c001df

[2015-07-13 04:59] #88 closed, assigned to nobody

[2015-07-13 04:59] torch2424 commented on #80
Working on this now! This will be great for demo purposes

[2015-07-13 05:15] torch2424 commented on #80
Fixed and looking good via b8aa37f7ed836f9f7c1b5c5c763919e8b0be8e74

[2015-07-13 05:15] #80 closed, assigned to nobody

[2015-07-13 06:19] torch2424 commented on #97
I fixed this by turning of the loop between twitter and facebook! and spell checking wordpress to facebook!

[2015-07-13 06:19] #97 closed, assigned to torch2424

[2015-07-13 06:23] torch2424 commented on #98
Added links to the contact and about page on the sidebar of the website!

nocomplygames.com

[2015-07-13 06:23] #98 closed, assigned to torch2424

[2015-07-14 14:56] torch2424 commented on #37
Walking around already has a small but noticeable ease in and out speed

[2015-07-16 16:57] torch2424 commented on #37
For our current movement system, and the way we currently are doing things, there is already a slight ease, and to add any lerping would be extremely difficult. So I am closing this issue, but if neccessary it may arise in the future

[2015-07-16 16:57] #37 closed, assigned to nobody

[2015-07-16 16:58] torch2424 commented on #44
Starting this now

[2015-07-16 17:44] torch2424 commented on #44
This is finished, I just need to scale the bosses stats accordingly

[2015-07-18 03:04] torch2424 commented on #44
a6909f6b579b762e6ca36a7464343d6adfdf01a0

The commit above is the point where bosses are fully inputted into the game, heres a screenshot:
<img width="709" alt="boss" src="https://cloud.githubusercontent.com/assets/1448289/8760099/eb15aa14-2cbe-11e5-88b8-2f7a77c3ed97.png">

And also, here is a .gif of me celebrating

![selfie-0](http://i.imgur.com/fjfLGlH.gif)

[2015-07-18 03:08] torch2424 opened #100 "Make Health Regeneration Halo Style, and attacking will no longer stop it"
Make Attacking no longer stop health regeneration similar to halo!

[2015-07-18 03:09] torch2424 commented on #100
Finished via 8236b873e0d6acb93d0d4084cc483daf64b4e7eb

[2015-07-18 03:09] #100 closed, assigned to torch2424

[2015-07-18 03:22] torch2424 opened #101 "Add a Boss Theme"
What do ou think Of having a song start right when the boss is spawned, that way players know that the boss is coming, and should prepare accordingly? Also, it'd add to the atmosphere of the game!

[2015-07-18 03:22] torch2424 commented on #101
@heebe ?

[2015-07-18 03:22] #44 closed, assigned to nobody

[2015-07-18 03:26] torch2424 commented on #95
@Heebe I need profile pictures from everyone to do this!

[2015-07-18 03:27] torch2424 commented on #93
Doing this now

[2015-07-18 03:43] torch2424 commented on #99
Fixed, http://superpunchlegacy.nocomplygames.com/#/

[2015-07-18 03:43] #99 closed, assigned to torch2424

[2015-07-18 03:56] torch2424 commented on #93
Added via beca7cee4106831da62d2f04104ff849852433e1

Screen:

![image](https://cloud.githubusercontent.com/assets/1448289/8760270/400013c8-2cc6-11e5-9754-5f1e4e8a3106.png)

[2015-07-18 04:00] #93 closed, assigned to nobody

[2015-07-18 04:01] torch2424 opened #102 "Add Animated Old Man"
That way he is fluttering in the wind!

[2015-07-18 04:05] torch2424 commented on #96
Fixed via a669a757e07868b0d467fb95175e3a94fd7b81ef

![image](https://cloud.githubusercontent.com/assets/1448289/8760286/803f9b06-2cc7-11e5-9b4e-a69f97e5e563.png)

[2015-07-18 04:15] torch2424 opened #103 "Make Hold Space to punch a little faster"
Holding space to punch can only get you to level 9, it needs to be a little bit faster

[2015-07-18 04:17] torch2424 commented on #103
Fixed via d156fb2dcd7c1f1a404c978dcf33b3e81cca432b
![selfie-0](http://i.imgur.com/OjF66OO.gif)

[2015-07-18 04:18] #96 closed, assigned to nobody

[2015-07-18 04:18] #103 closed, assigned to torch2424

[2015-07-18 04:18] torch2424 commented on #91
Fixed via d6d5029c1530f0f3fc5ae2737115b1932bc6815e

I would post a gif, but that's quite the task!

[2015-07-18 04:18] #91 closed, assigned to nobody

[2015-07-18 04:40] torch2424 opened #104 "We Should Decide on how we will profit from the game...Includes some awesome talks"
It is important that we decide this now, as it could affect the way the game play dramatically in the future.

I think it should be offer a demo of just the core gameplay, and you can't unlock anything (kind of like a demo, but you can play forever). Since we are using Unity, we build a game one, and deploy anywhere, we can embed this game on it's own website, and our Dev Blog very easily, and use

[2015-07-18 04:41] torch2424 commented on #104
@heebe

[2015-07-18 04:46] torch2424 commented on #104
@emanuelpartida

[2015-07-18 04:50] torch2424 commented on #82
@Heebe
@emanuelpartida

Having a select button doesn't fix the issue of having too many buttons. Honestly, I forgot we would even need a start button for mobile. I think having 4 buttons on a mobile game should be max, that's already a lot of screen space.

I don't think we should use a shop system for our special attacks, I feel like score could be used for you to unlock special attacks which wou

[2015-07-18 04:51] torch2424 commented on #82
Also, I removed this from the milestone as this has been quite a talk for a while now, and I do not think it will be solved soon

[2015-07-18 04:56] torch2424 commented on #60
Going to add this to the backburner, I think we should make the character select screen, somewhere in the SUPER PUNCH LEGACY SCREEN, that way you aren't forced to choose a character everytime, it'll allow for you to jump right into the game. Also, this is referenced in #104 , So I think we should move this into the next alpha, as we are still deciding how characters will be done

[2015-07-18 04:57] torch2424 commented on #63
I again am moving this out of the milestone as this should be addressed by issue #104

[2015-07-24 20:49] torch2424 commented on #83
Working on this now

[2015-07-24 21:50] torch2424 opened #105 "Add Various Enemy art updates I've recieved from Emanual"
Need to add things like updates to the golden tiger attacking animations

[2015-07-24 21:54] torch2424 opened #106 "The Main Character Needs The New Walks to be applied to the front and back"
Right now we just have newer right and left walking animations, we need to update the front and back as well!

[2015-07-24 21:58] torch2424 commented on #106
Emanual fixed already my bad

[2015-07-24 21:58] #106 closed, assigned to nobody

[2015-07-24 22:02] torch2424 commented on #83
Finished via a5be57ae5ff8cca43fa1060227f35ab7cfaa043a

[2015-07-24 22:02] #83 closed, assigned to nobody

[2015-07-24 22:04] torch2424 commented on #61
Starting this beast now

[2015-07-24 22:47] torch2424 opened #107 "We Need a Dodge Sound"
Now that we are implmenting dodging, we should have a sound for it!

[2015-07-24 23:25] torch2424 commented on #61
Finished via b722b6901b71fedceeb53b07053f6b7c64287ff1

This included the dodging/rolling mechanic, which makes you invincible for 4 frames, the animations for rolling and doding, and also, you switch onto a layer that is above enmies, therefore you can dodge through an enemy sprite, that way you can dodge around enemies chasing you down and things! :D

[2015-07-24 23:25] #61 closed, assigned to torch2424

[2015-07-24 23:52] torch2424 commented on #102
Finished via f39962626e8ca3490435dc0836d02bb7071e3919

[2015-07-24 23:52] #102 closed, assigned to nobody

[2015-07-24 23:55] torch2424 commented on #86
Added via ba96a1a62fd63880b4d1c4cd2c7fc509296d7ea8

[2015-07-24 23:55] #86 closed, assigned to nobody

[2015-07-24 23:57] torch2424 commented on #87
Added via 0650b0d563dc83c7d0e0f1c9bb319f9d45d27809

[2015-07-24 23:57] #87 closed, assigned to nobody

[2015-07-25 00:03] torch2424 commented on #105
Added via 9f40744f2fff8cf7161fc9e297dc8a4fd21e9592

I didn;t add the phatmaster block as our enemies do not block @emanuelpartida

[2015-07-25 00:03] #105 closed, assigned to torch2424

[2015-07-25 00:04] torch2424 commented on #90
I have recieved the art for the Dinosaur fighter, going to add in now

[2015-07-25 00:11] torch2424 commented on #90
Added via eeeed8a0e10ac899ab57a8183d71b5b631b1a471

[2015-07-25 00:11] #90 closed, assigned to nobody

[2015-07-25 00:20] torch2424 opened #108 "You can dodge during your attacking animations"
Try to avoid this by using things like the animation triggers and stuff

[2015-07-25 00:54] Heebe commented on #108
Dodging is a bit wonky

[2015-07-25 00:58] Heebe opened #109 "Eye Color"
When facing forward the character has brown eyes, but when he is running left or right, they are suddenly blue.

[2015-07-25 02:24] torch2424 commented on #109
FUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU

[2015-07-25 02:24] torch2424 commented on #109
Forsure thanks, it'll be a tedious fix but I'll get it done!

[2015-07-25 02:38] torch2424 commented on #82
@Heebe I'm looking forward to your response

[2015-07-25 02:40] torch2424 commented on #78
@Heebe What do you think of this?

[2015-07-25 02:40] torch2424 commented on #78
I feel like they're sized nicely

[2015-07-25 06:30] torch2424 commented on #95
Finished and looks SUPPPEERRR good due to the power of basic html and inline css in wordpress.

http://www.nocomplygames.com/about/

[2015-07-25 06:30] #95 closed, assigned to torch2424

[2015-07-25 06:59] torch2424 opened #110 "Add Emanuel's Final Remaining Characters/ and new animations"
Emanuel sent me some characters to add, we should add these to the alpha before we start cutting things out for the beta.

I can only work from the decision from #134

[2015-07-25 07:00] torch2424 opened #111 "We Need to Choose which Characters/ art we want, and which ones we don't"
Since we are nearing a beat release, we need to start choosing which art we like and want to keep, and which can be tossed in room of newer/more polished characters

[2015-07-25 20:46] Heebe commented on #107
Ffffft Ffffft

[2015-07-26 20:38] Heebe commented on #101
Agreed, the way it could be implemented would be like of Streets of Rage does it. Plus that idea makes me think immediately about something like this https://www.youtube.com/watch?v=ZQAXA0prSA0

[2015-07-27 00:40] torch2424 commented on #101
Dope, I got dis

[2015-07-27 04:15] emanuelpartida commented on #111
I updated the attack for eyeguy so it doesn't look like a Yoshi tongue...

[2015-07-27 04:19] emanuelpartida commented on #82
I think we should use an mp system that regenerates like health but a lot slower. It should activate it when both attack and dodge are pressed.

[2015-07-27 04:58] emanuelpartida commented on #111
I Updated the explosion animation!!!!!!!! It goes BOOOM!!!! cahahagdjashdiakjfakdlafd;ad;gksklvxcjkvcmzsdc,mlk;sm,zc;lzd,bv

[2015-07-27 16:04] torch2424 commented on #82
That's a good idea for an mp system, but I think pressing space and ctrl is an awkward combination, and on mobile it's be even harder

[2015-07-27 16:05] torch2424 commented on #82
@Heebe @emanuelpartida after some play testing, it was suggested to me, that we have powerups that drop such as double damage, or double speed, that last for about 30 seconds to a minute until they go away. We could do that, or have specail attacks automatically activate once you pick them up

[2015-07-27 16:06] torch2424 commented on #111
Rad sounds good dude! :D do you have any enemies you really like, and some you dnt care too much for? @emanuelpartida

[2015-07-27 17:48] Heebe commented on #82
Doesn't that drop system completely contradict what you were saying about drops unbalancing the game though?

[2015-07-27 17:48] Heebe commented on #82
But yeah I like the MP system too.

[2015-07-27 17:50] Heebe commented on #104
I like this idea "Free web and mobile demos, but can buy the full version on desktop and mobile for somewhere between 2-5 bucks. With Map, DLC, and MOde packs being released in the future." But let's put In-app adds into the demo for the mobile version. Implement them like Flappy Bird, the creator made 50k a day from just In-app adds only.

[2015-07-27 17:51] Heebe commented on #104
I'm just not too sure if the "With Map, DLC, and MOde packs being released in the future" would sell very well though.

[2015-07-27 17:55] Heebe commented on #82
I think the button mapping as it stands right now is a little bit awkward too. It's a bit hard to play with ctrl but is playable with the wasd, r, and space combo, still a bit awkward though.

[2015-07-27 17:56] torch2424 commented on #104
Awesome I'm glad you agree on demos, I don't like the idea of ads though, in the case of banner ads I am hugely against, they make the least amount of money, and take up alot of real estate. Our other ad option at that point is iterestrials (Ads thart take up the whole screen we can have pop up when they die). But they are very annoying, and create huge drop off points. And to be honest, In my exp

[2015-07-27 18:00] torch2424 commented on #82
@Heebe yes it does, but it was just a suggestion. I don't know if you've agreed or disagreed with drop unbalancing the game yet.

I'm glad we decided on an mp system, but if we use that system, how do we do unleashing the attacks?

And I made the r and ctrl off of the top of my head, that can be changed, just create an issue for it @Heebe

[2015-07-27 18:00] Heebe commented on #104
Yeah, I don't think the ads are a good idea either, I was just pointing it out. But we should of course have a personal ad stating the benefits of buying the full game. What do you mean by "And if we can implement in app purchases they will sell alright for the bigger dlcs"?

[2015-07-27 18:01] Heebe opened #112 "Current Button Mapping"
I think the button mapping as it stands right now is a little bit awkward too. It's a bit hard to play with ctrl but is playable with the wasd, r, and space combo, still a bit awkward though.

[2015-07-27 18:03] Heebe commented on #82
Yeah I just don't see drops being a good idea as of yet. I'm still thinking on how we should unleash the attacks.

[2015-07-27 18:04] Heebe commented on #78
With the new explosion animation, they should be fine, it depends when I see it though.

[2015-07-27 18:21] torch2424 commented on #78
K

[2015-07-27 18:22] torch2424 commented on #78
@Heebe was referring #110

[2015-07-27 18:23] torch2424 commented on #82
Okay awesome, WE ARE AGREED NO DROPS AS IT CAN LEAD TO UNBALANCED GAMEPLAY, SEE ABOVE FOR MORE

[2015-07-27 18:24] torch2424 commented on #82
@Heebe I remember someone suggested holding the attack button, we could do that, and like we can have them flash so many times, and if they do unleash the attack

[2015-07-27 18:25] torch2424 commented on #112
any suggestions on controls

[2015-07-27 18:25] torch2424 commented on #112
@Heebe

[2015-07-27 18:26] torch2424 commented on #104
Ummm in app purchases are in games like crossy bird and stuff. Like when you go over a hidden character and it says buy for $.99. In my experience in app purchases didnt sell well for me, but I think the way I implemented them was bad.

And yes of course in the demo we can state buy the full game when you die or something @Heebe

[2015-07-27 18:41] Heebe opened #113 "Idle Standing"
There is no Idle standing. Let go of your controls and your character will keep walking in the direction you were last facing.

[2015-07-27 18:43] Heebe commented on #104
In-app purchases like that usually don't sell very well. Take some MMO's for instance, they get practically no revenue for things such as aesthetics.

[2015-07-27 18:46] Heebe commented on #82
Holding the attack button is already taken for continuous attacking, and we
should keep the continuous attacking because that's something I've had been
requested to by numerous people.

[2015-07-27 19:26] torch2424 commented on #113
@Heebe yes I noticed that too, but I didnt think it was that serious, I can make him not move though. Also, are you okay with the running in place animation for not moving? I feel like it is quite standard to have that

[2015-07-27 19:27] torch2424 commented on #104
Are you sure? if you could, please provide some articles and statistics to prove that.

I've actually bought things such as new skateparks for true skate, and some other random IAPs in my time

[2015-07-27 19:28] Heebe commented on #113
Why? I think it seems sloppy. If he stands in one place he should have a
standing animation.

[2015-07-27 19:30] torch2424 commented on #82
Cool. Well then @Heebe I think honestly our best bet for this, since we cant really execute special attack, maybe this isn't the game to have it. We'd have to sacrifice dodging for them at this point. And honestly dodging is preety cool. I think we should simply just go with the drops that give you double damage for a time period. Yeah it's unbalanced, but if anything, we can have a for glory mode

[2015-07-27 19:31] torch2424 commented on #82
I had multiple people suggest drops with double damage and stuff, wouldn't be too hard to implement, but we'd need to you to create drop icons for this. As I feel like we have the cake, and now we just need the icing

[2015-07-27 19:33] torch2424 opened #114 "Change the hud layout"
Suggested in issue #82

make it horizontal to save screen estate

https://cloud.githubusercontent.com/assets/7026914/8553227/c5e37eea-2496-11e5-98d1-e6c3d85490d3.png

[2015-07-27 19:33] torch2424 commented on #113
K, wel I'll go and add the animation state for that and stuff

[2015-07-27 19:47] Heebe commented on #104
Actually, reading back on some things, times have changed. I was
referencing articles from mutiple years back but they aren't really
relevant now. Aesthetic in-game purchising would be fine as long as it
doesn't make it P2W. But it then also introduces the issue of what are we
going to use as "free dlc" and what we would be selling.

[2015-07-27 19:50] torch2424 commented on #104
@Heebe Yeah, and that's fine Wasn't planning on that.

THings like maps could be free dlc, as they are simply aesthetic. Or maybe multiplayer can come in an update.

But things like new characters that have more speed but less health could be an IAP (This is not P2W at all as you are simply buying a character with something you find more favorable, and keeps the game balanced). Or other random thi

[2015-07-27 19:51] torch2424 commented on #104
The beautiful things about modern day apps, is that they are always a work in progress, you dont have to stop developing them once they ship through the power of high speed ubiqutous internet

[2015-07-27 19:55] Heebe commented on #104
Ok, that's cool.
On Jul 27, 2015 12:50 PM, "Aaron Turner" notifications@github.com wrote:

[2015-07-27 22:02] emanuelpartida commented on #111
I don't like spooky all that much...

[2015-07-27 22:07] torch2424 commented on #111
@emanuelpartida cool! I'll be sure to leave him out. I'm sorry to make you not use your own creations, we wanna have all of our favorite monsters you know?

[2015-07-27 22:07] torch2424 commented on #111
@emanuelpartida but I actually like spooky :'(

[2015-07-27 22:10] emanuelpartida commented on #82
Special attacks are much cooler though!!!! Goku isn't goku with out his Kamehameha!!! Punch legacy needs Fire Ball Shots and Earth spikes!!!!

[2015-07-27 22:13] emanuelpartida commented on #82
You could always use V to dodge and it would make it easier to press Space and V together.

[2015-07-27 22:14] emanuelpartida commented on #82
if you press V and space together you shoot fire and if you hold it your character charges and does earth spike

[2015-07-27 22:16] torch2424 commented on #82
@emanuelpartida You make a good point, goku isnt as cool without his kamehameha hahahaha :')

But yo, yeah that's work on desktop, sure. But you gotta think cross platform, would it work on a phone? or a PSP, or DS?

Mainly our goal is to keep in mind  mobile

[2015-07-27 22:17] emanuelpartida commented on #111
We could use Spooky as a Boss instead??

[2015-07-27 22:21] emanuelpartida commented on #82
i think it would work on mobile you would stop running and have to use your special move and a DS and PSP you could press L and R or Hold it. I just want to shoot fire and summon spikes from the ground.

[2015-07-27 22:29] emanuelpartida commented on #82
While holding your special attack the screen should shake making it seem like your gathering energy or something.

[2015-07-28 03:21] Heebe commented on #112
Roll could be 'B' and Special could be 'V'. That way it is comfortable for people who like arrow keys to move, and it would be comfortable for people using wasd too. Heck, even makes it possible for you to play the game with one hand even.

[2015-07-28 11:24] emanuelpartida commented on #107
swoosh swoosh swooh

[2015-07-28 15:00] torch2424 commented on #111
@emanuelpartida sure that's be cool!

[2015-07-28 15:03] torch2424 commented on #82
@emanuelpartida But how would it work on mobile? Some phones don't even have any physical buttons. Which means we have to put buttons on the screen. And as of right now, we already have 4 buttons, with a hud. A fifth buton would just be too much, and block gameplay viewing.

But yeah I could easily do the screenshaking thing

[2015-07-28 15:04] torch2424 commented on #112
Cool rad! I'm down for that.

But we still need to decide how specials will be done, issue #82 , but If we do decide to go with a button on a keyboard, it will be v.

[2015-07-28 22:51] emanuelpartida commented on #82
![buttons](https://cloud.githubusercontent.com/assets/13184539/8945891/8363b692-3540-11e5-9897-8b52e9054af2.png)
what if the buttons were like that?

[2015-07-28 22:53] emanuelpartida commented on #82
![buttons](https://cloud.githubusercontent.com/assets/13184539/8945914/b845a712-3540-11e5-9302-9b297ee91af2.png)
what if the buttons were like this?

[2015-07-28 22:54] Heebe commented on #82
Those buttons are waaaaaaayyyyy too small

[2015-07-28 23:08] emanuelpartida commented on #82
Make the bigger but same layout
On Jul 28, 2015 3:54 PM, "Kevin Vigil" notifications@github.com wrote:

[2015-07-28 23:11] Heebe commented on #82
Yeah I like that idea, I'll sketch it and refine it when I get home to show
how I invision it.

[2015-07-28 23:12] emanuelpartida commented on #82
Fosho!
On Jul 28, 2015 4:11 PM, "Kevin Vigil" notifications@github.com wrote:

[2015-07-29 01:24] Heebe commented on #82
![controls](https://cloud.githubusercontent.com/assets/7026914/8947871/57904e1c-3555-11e5-9004-75790f5415a9.png)
P for punch (can be A for attack),
D for dodge,
S for special.

Buttons can be transparent to not block too much of the screen.

It was tough making everything the perfect proportion in paint but this is the jist of it. The bar at the top is there for no reason really, just made it easi

[2015-07-29 01:42] torch2424 commented on #82
Alright cool we Can go with this design, I'm glad we finally got this figured out. one thing I was hoping for was bigger buttons to help against mis clicks, and larger hands,. But this design may work out. @Heebe I'll need you to make these buttons through for the art. Dont worry about a pressed state, I can handle that

[2015-07-29 01:42] torch2424 commented on #82
Also, might I suggest an analog stick instead of dpad? And I'll move this into the controls issue in a bit.

[2015-07-29 01:46] torch2424 commented on #82
So the final ultimatum:

Mp regenerates over time like health

We will add a 5th button (8th if dpad) for unleashing special attacks

special attacks will be earned/usable depending on the player's current level range. One per level range

character will flash when special is ready

No drops as this clutters screen with already existing permenance, and unbalances gameplay

Is everyone agreed?

[2015-07-29 01:52] Heebe commented on #82
"one thing I was hoping for was bigger buttons to help against mis clicks, and larger hands", In regards to that we can just see how big we can make them without it being too intrusive.
For the part about analog vs d-pad, I was thinking about an analog stick too but it was just a little too hard to draw in paint plus the arrows were already a pre-set shape so it was just easier to draw for the exa

[2015-07-29 01:54] Heebe commented on #82
I thought we were going to do the "double speed" and etc. power-ups as well?

[2015-07-29 01:57] Heebe commented on #82
-Mp regenerates over time like health
I like.
-We will add a 5th button (8th if dpad) for unleashing special attacks
Yeah.
-special attacks will be earned/usable depending on the player's current level range. One per level range
I'm not understanding this.
-character will flash when special is ready
Again, I don't understand this. When is it going to flash? We know that it's going to work off of M

[2015-07-29 01:58] torch2424 commented on #82
@heebe yes exactly we can re size, and yes when you make the images, you need to make a larger circle, and a smaller circle.

For drops emanual stated: "Special attacks are much cooler though!!!!"

therefore he said that'd special attacks are the better idea. Drops and specials attacks would be overkill in my opinion

[2015-07-30 02:33] PartidaE commented on #82
Over kill would be a cool thing too because imagine all that power!!!!! Muhahaha

[2015-07-30 02:49] Heebe commented on #82
Yeah I agree with Emanuel! Both wouldn't be overkill, it would be perfect. It would be FAST, ACTION PACKED, NON. STOP. ACTION!!! But really, it would be really fun and it'd keep players super entertained.

[2015-07-30 03:09] torch2424 commented on #82
@Heebe  @emanuelpartida Are you completely positive? You've thought this through?

I'm being outvoted, and I think I'm just being too picky on this whole thing. How about this. lets just start over, I think I kinda influenced everything oddly. You and emanual can come up with an idea wether it be more buttons, more mana, orbs, specials drops or whatever. And then come back to me, and I'll code it

[2015-07-30 05:21] torch2424 commented on #45
This is being covered in #82 closing this

[2015-07-30 05:21] #45 closed, assigned to nobody

[2015-07-30 18:51] Heebe commented on #82
![controls](https://cloud.githubusercontent.com/assets/7026914/8947871/57904e1c-3555-11e5-9004-75790f5415a9.png)
Well these two things are good for sure and we all agree on them.
-Mp regenerates over time like health.
-We will add a 5th button.
We suggest power-up drops like increased speed or increased damage, along with having special powers, hence the fifth button (for mobile). We use the type

[2015-07-30 19:23] Heebe commented on #82
Also, we implement the suggestion from @torch2424 for a "for glory" mode with separate leaderboards for the more competitive fanbase. The mode will have no drops, and (no mp?).

[2015-07-31 06:45] torch2424 commented on #82
@Heebe The for glory mode was simply an example I was making with the drops. I apologize if I made it seem like I wanted to go through with it. If anything, we can keep For Glory on the backburner "If a competitive leaderboard scene does arrive" this will probably be more pertinent if multiplayer joins as well. But for now, since the direction you guys want to go, the game is gonna be more geared

[2015-07-31 06:51] torch2424 commented on #82
Also, one thing about your image, I thought you should see this to explain why I was worried about the amount of buttons

![2015-07-30](https://cloud.githubusercontent.com/assets/1448289/9002189/bc1d8a22-3715-11e5-926f-7e106e6d6d1b.jpg)

I have a 4.5 inch screen. Your picture is only slightly smaller than my device in comparison, and to be honest, the image makes my device look even a little bigge

[2015-07-31 07:03] Heebe commented on #82
I still think the button orientation would work. It would crowd to much of the screen especially if the buttons are transparent. Most likely the S button would be used more tactically so it won't be pressed as much and making the real estate easy to handle. I just did a 4.5 inch screen measurement using my own phone, and although the screen is small, it wont take up as much space as you think and

[2015-07-31 07:05] Heebe commented on #82
Daniel has a point with specials needing to be "punch oriented", noted, and referred to @emanuelpartida

[2015-07-31 07:06] Heebe commented on #82
And ok, @torch2424 but if the need arises we should just keep a "vanilla" mode like that in the back of our minds.

[2015-07-31 17:14] torch2424 commented on #82
@Heebe I understand that the buttons would be an alright size. But I wanted to have them larger, as we are getting close to an snes button config:

![unnamed](https://cloud.githubusercontent.com/assets/1448289/9012741/1b117452-376c-11e5-9007-37cd3f2e6efc.jpg)

Like it was known from the beginning the buttons would be semi transparent. One thing I'd like to ask, have you ever tried to play streetfi

[2015-07-31 17:14] torch2424 commented on #114
Doing this now! :D

[2015-07-31 17:27] torch2424 commented on #114
Finished via d87670a5d4efb3b1d28cc46871aa85c17982625a

[2015-07-31 17:27] #114 closed, assigned to torch2424

[2015-07-31 17:33] torch2424 commented on #113
Doing this now, get the animation for the characters folder

[2015-07-31 18:40] Heebe commented on #82
I understand that, but super punch legacy isn't a 2d fighter like street fighter or mortal kombat. It's a fluid almost-topdown arcade style fighter. 2 different genres. I believe our button scheme would work with ours, but of course not with a game like that. Even if our game is fast paced.

[2015-07-31 19:47] torch2424 commented on #113
Finished the standing still, but the idle is going to be super difficult

[2015-07-31 20:14] torch2424 commented on #113
Finished via 02e83b122ed1f01b2dc7352a7c75ff16f0cd7d27

[2015-07-31 20:14] #113 closed, assigned to torch2424

[2015-07-31 20:15] torch2424 commented on #82
@Heebe okay cool. Well I'm gonna be busy on stuff for the game all day. figure out special attacks with emanuel please <3

[2015-07-31 20:21] torch2424 commented on #112
Fixing this now

[2015-07-31 20:23] Heebe commented on #82
@emanuelpartida

[2015-07-31 20:24] torch2424 commented on #82
Also, button config for this is contained in #112

[2015-07-31 20:33] torch2424 commented on #112
Finished via f4422e2fedc021dadd64c4b9170137cc48d4cf51

[2015-07-31 20:33] #112 closed, assigned to nobody

[2015-07-31 20:35] torch2424 commented on #41
I've been on the fence about this issue. I feel like we should keep screenshake to attacks and when damage is dealt. as we do not want to confuse the player, and or have too much screenshake, as I feel like we are getting close to that threshold.

Closing this now

[2015-07-31 20:35] #41 closed, assigned to nobody

[2015-07-31 20:44] Heebe commented on #82
What do you mean by figure out special attacks?

[2015-07-31 21:01] emanuelpartida commented on #82
instead of a fire ball i can make it like a fist? and earth spike you punch the ground is the goodish?

[2015-07-31 21:03] torch2424 commented on #82
@emanuelpartida I like the firball be a giant fireball fist. THat's be awesome, and how about instead of spikes, they are earth fists?

[2015-07-31 21:05] torch2424 commented on #82
@Heebe Like I said above "I'm being outvoted, and I think I'm just being too picky on this whole thing. How about this. lets just start over, I think I kinda influenced everything oddly. You and emanual can come up with an idea wether it be more buttons, more mana, orbs, specials drops or whatever. And then come back to me, and I'll code it up?"

However, you keep asking for my input. I would like

[2015-07-31 21:07] torch2424 opened #115 "Our attacks should be more punch orientated"
Since I am re doing animations due to #109 , I think it's best that we follow daniels suggestion in #82 .

""Super Punch Legacy", he emphazied that the game title implies the game revolves around punchng. So our attacks and specials should reflect that"

[2015-07-31 21:10] Heebe commented on #82
I was including you because you are a part of this, anyway, Emauel and I can't sit down and talk today because he has work in like 2 hours.

[2015-07-31 21:11] emanuelpartida commented on #82
i like your earth fist idea that sounds random and one of the power up could be a morph that turns punch guy to a giant demon that punches everything and another could be invincibility or super speed?  How about super flying fist like punch guy flies one direct and destroys his enemies with is mighty flying fist??

[2015-07-31 21:21] Heebe commented on #82
We'll talk about those when I see you tomorrow @Emanuel, Starbucks?

[2015-07-31 21:24] Heebe commented on #82
And @torch2424, I was just asking what you meant, that's all.

[2015-07-31 21:29] emanuelpartida commented on #82
sure dude

[2015-07-31 21:36] torch2424 commented on #115
Finished via 387a00a61d7e2ab3f7f154d27fdc0affead5bf42

Kicking attacks are no longer in the game

[2015-07-31 21:36] #115 closed, assigned to torch2424

[2015-07-31 21:36] torch2424 commented on #109
Fixed via 387a00a61d7e2ab3f7f154d27fdc0affead5bf42

Took forever and was quite tedious

[2015-07-31 21:36] #109 closed, assigned to nobody

[2015-07-31 21:40] torch2424 commented on #82
@Heebe I appreciate you including me. but yes that is what I mean <3

[2015-07-31 22:17] torch2424 commented on #110
Finished adding new animation in 387a00a61d7e2ab3f7f154d27fdc0affead5bf42

[2015-07-31 22:57] torch2424 commented on #108
Fixed via 5328b1098a38e32d398eef273fb8f092f204cb31

[2015-07-31 22:57] #108 closed, assigned to nobody

[2015-07-31 22:58] torch2424 commented on #78
Finished via 387a00a61d7e2ab3f7f154d27fdc0affead5bf42

[2015-07-31 22:58] #78 closed, assigned to nobody

[2015-07-31 23:24] torch2424 commented on #107
Finished via 083a1cc885b83bdffa2572a585cc4619361569dc

[2015-07-31 23:24] #107 closed, assigned to nobody

[2015-07-31 23:25] torch2424 opened #116 "Eye Guy Attacking animation is very off centered"
THis needs to be fixed by adding some space behind the sprites

[2015-07-31 23:29] torch2424 opened #117 "Enemies Get Stuck on Walls and objects"
Figure out why this is. It is either due to knock back or their box colliders

[2015-07-31 23:39] torch2424 commented on #116
Fixed Via 083a1cc885b83bdffa2572a585cc4619361569dc

[2015-07-31 23:39] #116 closed, assigned to torch2424

[2015-07-31 23:42] torch2424 commented on #63
This is a duplicate of #60

[2015-07-31 23:42] #63 closed, assigned to torch2424

[2015-07-31 23:43] torch2424 commented on #60
#63 was a duplicate of this, and can be seen for references on maps, and cheats

[2015-08-06 06:50] Heebe commented on #82
Alright, Emanuel and I have agreed upon:

_Drops:_
There will be a total of five drops and they all will mostly be **UNCOMMON - RARE**.
1. +0.5x speed - stacks for up to a total of 2x overall speed, so cap will be hit after **2** consecutive pickups.
2. Refiil MP
_side note 1: MP will regen a bit slower than health, making this a very useful item in a tight spot if you're running out of MP in a ja

[2015-08-08 02:31] torch2424 commented on #60
Going to start his now. Actually, it's quite difficult to develop at home with family and stuff, I'll wait till next week when I have my home development desk.

However, to do this I suggest creating a new scene. If the user pressed wasd or arrow keys, use an array to track character sprites and things, and every left or right increase the array index, and save it in our save manager

[2015-08-13 06:12] Heebe opened #118 "Unstable?"
The game becomes more unstable the more you level. I noticed both lag showing up, and, well, this happened when I died at lvl 33.
![super punch master kevin](https://cloud.githubusercontent.com/assets/7026914/9243632/ab0e2066-4147-11e5-8eaf-f2550e601a13.png)

[2015-08-14 18:08] torch2424 opened #119 "We need to write more epitaphs"
Currently we only have:

//Array pf things to say once you die
    String[] epitaph = {"Even the mighty fall", "Not even heroes live forever", "Legends are never forgotten"};

We should have at least 10, that follow the same theme, since @heebe is story writing I think this should mostly concern him

[2015-08-14 18:08] torch2424 commented on #118
Damn how'd you get to level 33? HAHAHAHAHA! it's cause our death messages look like this:

//Array pf things to say once you die
    String[] epitaph = {"Even the mighty fall", "Not even heroes live forever", "Legends are never forgotten"};

If you notice, there's only 3, so we need more. I'll code a failsafe right now, and I created this issue: #119

And It'd be cool if you could write some more

[2015-08-14 18:14] torch2424 commented on #118
Fixed via 1da3dba284ad1e11e7e7932f886771e762e34c7c

[2015-08-14 18:14] #118 closed, assigned to nobody

[2015-08-14 18:15] torch2424 commented on #82
@Heebe Since you guys still have a little bit left to figure out, I'll be doing specials in the next alpha, but I'd like to have this decided by this milestone :D

[2015-08-14 18:16] torch2424 opened #120 "Use the wiki to document how we will profit and do scpecials for the game"
We should document all of our game talks and things we've come across in the wiki.

[2015-08-14 18:17] torch2424 commented on #117
Working on this now

[2015-08-14 18:46] torch2424 commented on #117
This will help alot: http://johnstejskal.com/wp/how-to-stop-falling-through-floors-in-unity/

[2015-08-14 20:13] torch2424 commented on #117
Finished via cc6b6839687aec41c319a7dcb88d97408d895b8a

[2015-08-14 20:13] #117 closed, assigned to torch2424

[2015-08-14 20:15] torch2424 opened #121 "Boss should spawn once MOst enemies are defeated, instead of all"
Since gameplay REALLY slows down trying to find the last enemy to kill, the boss should spawn once at least most enemies are dfeated

[2015-08-14 20:19] torch2424 commented on #121
Finished via 5ffda529b3d8a2de59b8589b89cd498104e99d85
![selfie-0](http://i.imgur.com/QpImgl2.png)

[2015-08-14 20:19] #121 closed, assigned to torch2424

[2015-08-14 20:20] torch2424 opened #122 "Bosses Are way to fast"
They move accross the screen crazy, fast this should be fixed

[2015-08-14 20:22] torch2424 opened #123 "Game Physics should be researched and tweaked"
Some of the physics can act a bit odd, this should be researched, and fixed up by these two docs/articles

http://johnstejskal.com/wp/how-to-stop-falling-through-floors-in-unity/

http://docs.unity3d.com/Manual/class-Physics2DManager.html

Additional research should also be done

[2015-08-14 20:23] torch2424 commented on #122
Fixed via b254d1898b489067a6fdce2ad60959f419fe8e0c

[2015-08-14 20:23] #122 closed, assigned to torch2424

[2015-08-14 20:24] torch2424 commented on #60
THis should be split up into multiple issues

[2015-08-14 20:50] torch2424 opened #124 "Create a Map Selection Scene"
Comment from #60

However, to do this I suggest creating a new scene. If the user pressed wasd or arrow keys, use an array to track character sprites and things, and every left or right increase the array index, and save it in our save manager

THis should be created, and used to save the selected map

[2015-08-14 20:50] torch2424 opened #125 "Create a Character Selection Screen"
Comment from #60

However, to do this I suggest creating a new scene. If the user pressed wasd or arrow keys, use an array to track character sprites and things, and every left or right increase the array index, and save it in our save manager

THis should be created, and used to save the selected character

[2015-08-14 20:51] torch2424 opened #126 "Allow Selected Map In gameplay"
This is a continuation of #124

Since we save our selected map, use it in our gameplay. Will most likely be done in the game manager

[2015-08-14 20:52] torch2424 opened #127 "Allow Selected character in Gameplay"
This is a continuation of #125

Since we save our selected character, use it in our gameplay. Will most likely be done in the Player Script

[2015-08-14 20:52] torch2424 commented on #60
Closing this as it was divided into #124 #125 #126 #127

[2015-08-14 20:52] #60 closed, assigned to torch2424

[2015-08-14 21:58] Heebe commented on #119
1. This legacy has just begun.
2. Don't stop, the legacy must continue.
3. A Punch is as only as powerful as it's user.
4. This fight, must not be forgotten.
5. Find the strength and proceed.
6. Something special is inside.
7. Knock them back!

Here's 7 More, including the three we have makes 10,

[2015-08-14 22:06] torch2424 commented on #124
FInished via 399b15d68f0c567f35463faaa364d96d8a5f2b73

[2015-08-14 22:06] #124 closed, assigned to torch2424

[2015-08-14 22:07] torch2424 commented on #119
I like 1, 2, 3, 4.

I dont like the last three however. Also keep in mind, the eptaphs are going to scale with the player's level

[2015-08-14 22:07] torch2424 commented on #119
@Heebe

[2015-08-14 22:44] torch2424 commented on #125
Finished via c35166ece8f69d3556af82df2889c1ab88c7630c

[2015-08-14 22:44] #125 closed, assigned to torch2424

[2015-08-15 04:02] torch2424 opened #128 "Update The README"
This should be done to show off all the new features we have!

[2015-08-15 04:07] Heebe commented on #128
And update the website.

[2015-08-15 04:09] torch2424 commented on #128
I shall do that once it comes time to create the trailer. I feel like Alpha 8.0 will be the last alpha. Then the issue after that, will be all about marketing and things. Probably will name it end alpha

[2015-08-15 04:28] torch2424 commented on #79
These have been docuemented in the wiki, closing this now

[2015-08-15 04:28] #79 closed, assigned to nobody

[2015-08-15 04:35] torch2424 commented on #120
Finished! Check it out here: https://github.com/torch2424/Punch-Legacy/wiki

[2015-08-15 04:35] #120 closed, assigned to torch2424

[2015-08-15 04:36] torch2424 commented on #104
Finished and documented throug issue #120

[2015-08-15 04:36] #104 closed, assigned to nobody

[2015-08-15 04:39] torch2424 opened #129 "Implment Special Attacks"
As Researched via issue #82 and documented in the wiki. We need to implent the art and code for special attacks

[2015-08-15 04:41] torch2424 opened #130 "Find any and all game Breaking Bugs"
We need to play test the game extensively before we offer the online web demo for the game. Any Bug found needs to bereported and placed into MAlpha 8.0 milestone, since after this, we will be in beta.

Please note that only GAME BREAKING bugs should be reported. or anything EXTRA buggy about gameplay. Anything less should be saved for our polishing stages in beta

[2015-08-18 06:27] Heebe opened #131 "Out of bounds"
Bug just recently found: If you pause the game from spawn and mash the punch key, the punch still registers and pushes the player forward, this motion allows the player to phase out of the map completely.
![untitled](https://cloud.githubusercontent.com/assets/7026914/9323637/7e4572b6-4537-11e5-8686-53f9c282bb8b.png)
![untitled2](https://cloud.githubusercontent.com/assets/7026914/9323636/7e44a188-4

[2015-08-18 06:28] Heebe commented on #130
#131 is one that needs to be addressed.

[2015-08-18 15:46] torch2424 commented on #131
HAHAHAHAHAHAHA YESSSSSSSSS

[2015-08-18 15:46] torch2424 commented on #131
thank you

[2015-08-21 18:59] torch2424 commented on #82
Hey Guys, if you could please let me know what levels have what specials, and give me all the art for this (Those that are missing), that'd be great, as I'd like to close this issue and move onto the next one!

[2015-08-21 19:02] torch2424 commented on #101
Made the main song faster, and finished the boss theme in FL. Going to code into the game now!

[2015-08-21 19:03] torch2424 commented on #82
I'm going to move this into alpha 8.0, but I'd like to have this done ASAP, that way we can move into beta much sooner

[2015-08-21 19:22] torch2424 commented on #101
Finished via b9b2afb69158350e8267e79273d21f422cc2fc4d I'm excited to see what you guys think of it, the song is much slower, but it matches the boss fights well in my opinion!

[2015-08-21 19:22] #101 closed, assigned to nobody

[2015-08-21 19:26] torch2424 commented on #119
I've added the messages I agreed with, still waiting on  a revised last three

[2015-08-21 19:50] torch2424 commented on #131
Fixed via cc3e0277d0510bf8e8f85dd0c93584d0c30e4166

[2015-08-21 19:50] #131 closed, assigned to torch2424

[2015-08-21 19:54] torch2424 opened #132 "Update The Landing Page"
We have a ton of new content, this should be updated and shown to the public as a press kit

[2015-08-21 19:55] torch2424 commented on #126
Working on this now

[2015-08-21 20:31] torch2424 commented on #126
Finished and awesome via 18ab1c2e97e578ef61e23ee57a950d7a400dc2af

![image](https://cloud.githubusercontent.com/assets/1448289/9418455/fbd24b04-4808-11e5-9f7b-b0d6545f9e29.png)

[2015-08-21 20:31] #126 closed, assigned to torch2424

[2015-08-21 21:09] torch2424 opened #133 "Bring Back character getting larger as they level"
If this is possible, learn how to re do the scale of the camera as the character grows

[2015-08-21 21:45] torch2424 opened #134 "We should decide our final Public Beta Art"
For maps and objects, since I only have a limited amount, I Will not take any out

I created this issue as we need to finalize (For the wiki) what will, and will not be in the game, before I go on to code more stuff. Also this can be revised in the future, however we need to decide this now as it is the last alpha

However, we should decide which enemies and art we are not fond of, as we have a go

[2015-08-21 21:45] torch2424 commented on #111
Closing this and reopening as #134

[2015-08-21 21:45] #111 closed, assigned to torch2424

[2015-08-21 21:47] torch2424 commented on #134
I love the characters. I say we keep all of them, however, I will only add Cinos for the beta.

However for the enemies, I don't like Snailuin, Blue Yeti, and Phatmaster much.

I vote that we remove them. And also, Mighty Kobra has an awkward shape for my box colliders. I like might kobra but we may want to consider removing him as well

Also, one thigng emanuel and I agreed upon is that we'd like

[2015-08-21 21:52] torch2424 opened #135 "Create a unified specials for all of the Playable characters"
@emanuelpartida

Since we are going to do specials for the game, we are going to need you to go and make every special for every playable character. please refer to #134 for a list of characters I have to be implmented. with Cinos being top priority for now

[2015-08-21 21:53] torch2424 commented on #110
GOing to add cinos

[2015-08-21 22:04] torch2424 commented on #82
Also, one thing I'd like you guys to note #135 is something that needs to be done since we are using a special button and people's specials. This will take up a lot of time and resources. Compared to just drops which kevin could make. I will be not working on the game as much until after all of this is implemented, and we communicate more on the issues with needs discussion, as I can only code the

[2015-08-21 22:13] torch2424 commented on #127
Going to add Cinos, But I need some input from #134

[2015-08-22 06:09] Heebe opened #136 "Odd collisions"
You can run around the map and at certain areas, if a boss is actively chasing you, he will be frozen in that spot. So far only found 2 spots.

This spot at the **bottom** of the map:
![untitled](https://cloud.githubusercontent.com/assets/7026914/9422788/a7040508-4859-11e5-95a5-5823fd7f17fb.png)
This spot at the **top** of the map:
![untitled2](https://cloud.githubusercontent.com/assets/7026914/94

[2015-08-22 06:12] Heebe commented on #136
Also was able to push the boss into the side of the map as well:
![untitled3](https://cloud.githubusercontent.com/assets/7026914/9422806/1c038b80-485a-11e5-8e9d-b1b860ab1994.png)

[2015-08-22 06:33] torch2424 commented on #136
Yeah I think it has to relate to the #123 , But I noticed this as well, I kinda wished it would go away haha, I'll add this to the backburner, probaly be fixed in the first beta

[2015-08-24 18:43] Heebe opened #137 "Forever Regen Bug"
You always regen health out of battle, even in the pause menu.

[2015-08-24 22:24] Heebe opened #138 "Idea: Show Score"
Maybe show score obtained, onto the death screen above the options buttons like shown in this picture. It will add a little more focus on the score overall.
![untitled3](https://cloud.githubusercontent.com/assets/7026914/9454080/37bc4e86-4a74-11e5-9def-b304bc9115db.png)

[2015-08-25 02:29] torch2424 commented on #138
Oh yeah I totally forgot about that when I added score hahahaha! thank you!

[2015-08-28 18:51] Heebe opened #139 "No windowed mode scaling"
When trying to play the game on a lower resolution in windowed mode, the game will not scale. (i.e. the Map selection and the character selection options will be gone. Shown here ▼. It will also cut off score and the word "health" while in gameplay.)
**What it does:**
![doesntscale](https://cloud.githubusercontent.com/assets/7026914/9554364/26d85a8e-4d7a-11e5-94b1-57b1a94c72f2.png)
**What is being

[2015-08-29 17:33] torch2424 commented on #139
Yeah the scaling is quite difficult in the game, I'll look into it

[2015-08-29 17:43] torch2424 commented on #137
Fixed via e08a8fc1795df99fc6bd7d7deb6b0d4c2f390085

[2015-08-29 17:43] #137 closed, assigned to torch2424

[2015-08-29 17:44] torch2424 commented on #137
Wait I meant 4e34bfbdbd630ef9e7a4a1de01abb812165b2cde hahaha

[2015-08-29 18:21] torch2424 commented on #139
Fixed game scaling depending on screensize, going to look into windowed mode scaling c6fd18578721e16b0eb1e0110b1ca96e1a392dbd

[2015-08-29 18:22] torch2424 commented on #139
Actually, if you notice, you can choose a resolution when the game starts for the size of the window. We do not want out users to scale our windows, that is why unity defaults it to not scalable. scaling the window while the game is playing will break all of the scaling of the game, and ruin everything. I just rembered I made another game for a class, and they told me part of the requirements was

[2015-08-29 18:22] #139 closed, assigned to torch2424

[2015-08-29 19:00] torch2424 opened #140 "Boss theme"
This needs to be re-done, have the song in fl, just need to recode in :'(

[2015-08-29 19:01] torch2424 opened #141 "Re Organize the images"
i Have a bunch of images that need to be re organized as I lost my windows partition

[2015-08-29 19:02] torch2424 opened #142 "Re add map functionality"
We need to re-code the map integration system, so that all of the objects can be spawned depending on map etc...

[2015-08-29 20:07] torch2424 commented on #141
Finished and synced

[2015-08-29 20:07] #141 closed, assigned to torch2424

[2015-08-29 20:37] torch2424 commented on #142
Finished via c8ade498e054d2a32c9fcd1da7fe2ebccd1da548

[2015-08-29 20:37] #142 closed, assigned to torch2424

[2015-08-29 20:38] torch2424 commented on #142
This re-implmented #126

[2015-08-29 20:39] torch2424 commented on #140
This will re inmplmentt #101

[2015-08-29 20:41] torch2424 commented on #138
This was fixed by #139

[2015-08-29 20:41] #138 closed, assigned to torch2424

[2015-08-29 21:47] torch2424 commented on #140
Finished and finally done re-adding lost code from 946b0f4635cd6e4a9aeb440edd132424dfcb6476

[2015-08-29 21:47] #140 closed, assigned to torch2424

[2015-08-29 21:52] torch2424 commented on #130
So far we've reported #131 #136 #137 #138 #139

[2015-08-31 07:18] emanuelpartida opened #143 "Boss Mode Weather"
Suggestion is there a way it could rain and get darker when the boss appears.

[2015-08-31 16:27] torch2424 commented on #143
Ummm for the rain, I'd have to do research on that. However, since it is a top down game, I think it would be hard to display the rain wouldnt it? But I think I've seen other games in the past do it.

And to make the game darker, I could probably do that!

[2015-08-31 16:28] torch2424 commented on #143
@emanuelpartida How have art and stuff been coming along?

[2015-08-31 21:34] emanuelpartida commented on #143
Its coming along I'm just finishing up Cinos.
On Aug 31, 2015 9:28 AM, "Aaron Turner" notifications@github.com wrote:

[2015-09-01 14:55] torch2424 commented on #143
Alright cool!